header[role="banner"] h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

nav {
  position: absolute;
  height: 80px;
  background-color: #333333;
  color: white;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

header[role="banner"] {
  height: calc(100% - 80px);
  width: 100%;
  margin-bottom: 80px; }
  header[role="banner"] ul[aria-label="A short list of featured articles"] {
    height: 100%;
    width: 400%; }
    header[role="banner"] ul[aria-label="A short list of featured articles"] li {
      display: inline-block;
      position: relative;
      height: 100%;
      width: 25%; }
  header[role="banner"] figure {
    display: block;
    height: 100%; }
    header[role="banner"] figure img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 80px;
      left: 0;
      height: 100%;
      width: auto;
      min-width: 100%;
      z-index: -1; }
  header[role="banner"] article {
    background: white;
    padding: 32px; }

.fixed-header {
  position: fixed;
  top: 0; }
