/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

.article.detail footer[role="contact"] h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.article.detail header[role="banner"] {
  position: relative;
  overflow: hidden;
}

.article.detail header[role="banner"] img {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.article.detail section.content {
  padding: 16px;
}

.article.detail section.content > p:first-of-type {
  font-size: 2.4rem;
  line-height: 32px;
  color: #333333;
  font-weight: 100;
}

.article.detail section.content > p:first-of-type::first-letter {
  font-size: 8rem;
  line-height: 64px;
  color: #12B4BA;
  float: left;
  margin: 0 8px 0 0;
  vertical-align: text-top;
}

.article.detail ul {
  display: block;
  margin: 0;
  padding: 0;
}

.article.detail li.tag {
  margin: 0 8px 8px 0;
  display: inline-block;
}

.article.detail li.tag a {
  font-size: 1.6rem;
  line-height: 24px;
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 8px 16px;
}

.article.detail section.comments {
  max-width: 640px;
  margin: 0 auto 48px auto;
}

.article.detail section.comments ol {
  margin: 0;
  padding: 0;
}

.article.detail section.comments li {
  display: flex;
  padding: 16px;
}

.article.detail section.comments textarea {
  font-size: 1.6rem;
  line-height: 32px;
  font-family: "Source Serif Pro", serif;
  border: none;
  background: none;
  padding: 8px;
  width: 100%;
}

.article.detail footer[role="contact"] {
  display: flex;
  justify-content: space-between;
  background: #333;
  align-items: center;
  padding: 16px;
  height: 10vh;
  box-sizing: border-box;
}

.article.detail footer[role="contact"] a.logo,
.article.detail footer[role="contact"] img {
  display: inline-block;
  height: 40px;
}

.article.detail footer[role="contact"] small {
<<<<<<< HEAD
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
=======
  font-size: 16px;
  color: #FFFFFF;
>>>>>>> Added in the links for read more and started the feature styles
}

@media (max-width: 769px) {
  .article.detail footer[role="contact"] small {
    display: none;
  }
}
<<<<<<< HEAD

.detail.article li.tag a {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
}

.detail.article section.comments ol {
  background: #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

.detail.article section.comments .material-icons {
  line-height: 1.6;
}

.detail.article footer[role="contact"] {
  background: #333333;
}

.detail.article footer[role="contact"] small {
  color: #FFFFFF;
}
=======
>>>>>>> Added in the links for read more and started the feature styles
