/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition: all 0.25s ease-in-out;
}

.detail.article footer.content h2, .detail.article aside.profile h2, .detail.article section.comments h2, .detail.article footer[role="contact"] h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.article.detail header[role="banner"] {
  position: relative;
  overflow: hidden;
}

.article.detail header[role="banner"] img {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.article.detail section.content {
  padding: 16px;
}

.article.detail section.content > p:first-of-type {
  font-size: 2.4rem;
  line-height: 32px;
  color: #333333;
  font-weight: 100;
  max-width: 800px;
  margin: 0 auto 32px auto;
}

@media screen and (min-width: 1024px) {
  .article.detail section.content > p:first-of-type {
    transform: translateX(-80px);
  }
}

.article.detail section.content > p:first-of-type::first-letter {
  font-size: 8rem;
  line-height: 64px;
  color: #12B4BA;
  float: left;
  margin: 0 8px 0 0;
  vertical-align: text-top;
}

.article.detail section.content > p:not(:first-of-type) {
  max-width: 640px;
  margin: 0 auto 32px auto;
}

.article.detail footer.content {
  display: flex;
  max-width: 640px;
  margin: 0 auto 32px auto;
}

.article.detail ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.article.detail li.tag {
  margin: 0 16px 16px 0;
  display: inline-block;
}

.article.detail li.tag a {
  font-size: 1.6rem;
  line-height: 24px;
  color: #12B4BA;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 8px 16px;
}

.article.detail aside.profile {
  max-width: 640px;
  margin: 0 auto 48px auto;
  padding: 16px;
}

.article.detail aside.profile .card.profile {
  display: inline-block;
  margin: 16px 0;
}

.article.detail aside.profile .card.profile h3 {
  font-size: 2.4rem;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.article.detail aside.profile .card.profile p {
  font-size: 1.6rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .article.detail aside.profile .card.profile {
    width: calc(50% - 16px);
  }
  .article.detail aside.profile .card.profile:nth-child(odd) {
    margin-right: 32px;
  }
}

.article.detail section.comments {
  max-width: 640px;
  margin: 0 auto 48px auto;
}

.article.detail section.comments ol {
  margin: 0;
  padding: 0;
}

.article.detail section.comments li {
  display: flex;
  padding: 16px;
}

.article.detail section.comments textarea {
  font-size: 1.6rem;
  line-height: 32px;
  font-family: "Source Serif Pro", serif;
  border: none;
  background: none;
  padding: 8px;
  width: 100%;
}

.article.detail footer[role="contact"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 10vh;
  box-sizing: border-box;
}

.article.detail footer[role="contact"] a.logo,
.article.detail footer[role="contact"] img {
  display: inline-block;
  height: 40px;
}

.article.detail footer[role="contact"] small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 769px) {
  .article.detail footer[role="contact"] small {
    display: none;
  }
}

.detail.article section.content {
  background: #FFFFFF;
}

.detail.article li.tag a {
  background: #FAFAFA;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

.detail.article li.tag a:hover, .detail.article li.tag a:focus {
  outline: none;
  color: #0E8682;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.detail.article aside.profile {
  border-top: 1px solid #E8E8E8;
}

.detail.article section.comments ol {
  background: #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

.detail.article section.comments .material-icons {
  line-height: 1.6;
}

.detail.article footer[role="contact"] {
  background: #333333;
}

.detail.article footer[role="contact"] small {
  color: #FFFFFF;
}
