/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

.article.detail header[role="banner"] {
  position: relative;
  overflow: hidden;
}

.article.detail header[role="banner"] img {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.article.detail section.content {
  padding: 16px;
}

.article.detail section.content > p:first-of-type {
  font-size: 2.4rem;
  line-height: 32px;
  color: #333333;
  font-weight: 100;
}

.article.detail section.content > p:first-of-type::first-letter {
  font-size: 8rem;
  line-height: 64px;
  color: #12B4BA;
  float: left;
  margin: 0 8px 0 0;
  vertical-align: text-top;
}

.article.detail ul {
  display: block;
  margin: 0;
  padding: 0;
}

.article.detail li.tag {
  margin: 0 8px 8px 0;
  display: inline-block;
}

.article.detail li.tag a {
  font-size: 1.6rem;
  line-height: 24px;
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 8px 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
}
