/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition-property: color, text-decoration-color, fill;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.article.detail .hide-me, .article.detail section.content.heading h2, .detail.article .site, .detail.article header h1, .detail.article section.content h2.hidden, .detail.article footer.content h2, .detail.article aside.profile h2, .detail.article section.comments h2, .detail.article footer[role="contact"] h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.article.detail header[role="banner"] {
  position: relative;
  overflow: hidden;
}

.article.detail header[role="banner"] img {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.article.detail header[role="banner"].video {
  overflow: hidden;
  padding-bottom: 56.25%;
  margin: 0;
  position: relative;
  height: 0;
}

@media screen and (min-width: 1024px) {
  .article.detail header[role="banner"].video {
    padding-bottom: 41.55%;
  }
}

.article.detail header[role="banner"].video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.article.detail section.content {
  margin-top: 16px;
  padding: 0 16px;
}

.article.detail section.content.heading {
  margin-bottom: 32px;
}

.article.detail section.content.heading p:first-of-type {
  font-size: 2rem;
  line-height: 32px;
  color: #333333;
  font-weight: 100;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .article.detail section.content.heading p:first-of-type {
    font-size: 2.4rem;
    line-height: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .article.detail section.content.heading p:first-of-type {
    transform: translateX(-80px);
  }
}

.article.detail section.content.heading p:first-of-type::first-letter {
  font-size: 8rem;
  line-height: 0.8;
  color: #12B4BA;
  float: left;
  margin: 0 8px 0 0;
  vertical-align: text-top;
}

@media screen and (min-width: 768px) {
  .article.detail section.content.heading p:first-of-type::first-letter {
    font-size: 13rem;
    line-height: 0.9;
    margin: 0 16px -16px 0;
  }
}

.article.detail section.content.copy {
  position: relative;
  max-width: 640px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.6rem;
  line-height: 24px;
}

@media (min-width: 768px) {
  .article.detail section.content.copy {
    font-size: 2rem;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .article.detail section.content.copy {
    margin: 0 0 32px auto;
  }
}

.article.detail section.content.copy h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .article.detail section.content.copy h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

.article.detail section.content.copy p {
  margin-top: 0;
  margin-bottom: 32px;
}

.article.detail section.content.copy ul {
  padding: 0;
  margin-top: 0;
}

.article.detail section.content.copy ul li {
  margin-left: 1em;
}

.article.detail section.content.copy .toggle {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 640px;
  margin-top: 0;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
}

.article.detail section.content.copy .toggle li {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-left: 0;
}

.article.detail section.content.copy .toggle li + li + li {
  width: 100%;
  text-align: left;
  margin-top: 32px;
  height: 160px;
  overflow: auto;
}

.article.detail section.content.copy .toggle input[type="radio"] {
  display: none;
}

.article.detail section.content.copy .toggle input[type="radio"]:not(:checked) ~ li[class] {
  display: none;
}

.article.detail section.content.copy .toggle input[type="radio"]#about:checked ~ li [for="about"] {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #12B4BA;
}

.article.detail section.content.copy .toggle input[type="radio"]#about:checked ~ li.about {
  display: block;
}

.article.detail section.content.copy .toggle input[type="radio"]#transcript:checked ~ li [for="transcript"] {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #12B4BA;
}

.article.detail section.content.copy .toggle input[type="radio"]#transcript:checked ~ li.transcript {
  display: block;
}

@keyframes left {
  0% {
  }
  100% {
    position: absolute;
    left: -100%;
  }
}

.article.detail footer.content {
  display: flex;
  max-width: 640px;
  margin: 0 auto 32px auto;
}

.article.detail footer.content ul {
  margin: 0;
  padding: 0;
}

.article.detail footer.content ul ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.article.detail footer.content ul li.tag {
  margin: 0 16px 16px 0;
  display: inline-block;
}

.article.detail footer.content ul li.tag a {
  font-size: 1.6rem;
  line-height: 24px;
  color: #12B4BA;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 8px 16px;
}

.article.detail aside.profile {
  max-width: 640px;
  margin: 0 auto;
  padding: 24px 0 0 0;
}

.article.detail aside.profile ul {
  margin: 0;
  padding: 0;
}

.article.detail aside.profile ul .card.profile {
  display: inline-block;
  margin: 16px 0 0;
}

.article.detail aside.profile ul .card.profile h3 {
  font-size: 2.4rem;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  margin: 0;
}

.article.detail aside.profile ul .card.profile p {
  font-size: 1.6rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .article.detail aside.profile ul .card.profile {
    width: calc(50% - 16px);
  }
  .article.detail aside.profile ul .card.profile:nth-child(odd) {
    margin-right: 32px;
  }
}

.article.detail aside.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .article.detail aside.social {
    margin-left: -400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 832px) {
  .article.detail aside.social {
    left: 16px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .article.detail aside.social {
    margin-left: -480px;
  }
}

.article.detail aside.social h2 {
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900 !important;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.article.detail aside.social a {
  display: block;
  text-decoration: none;
  padding: 16px;
}

.article.detail aside.social a .material-icons {
  display: block;
}

@media (max-width: 767px) {
  .article.detail aside.social {
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .article.detail aside.social h2 {
    display: none;
  }
}

.article.detail aside.related {
  padding: 16px 16px;
}

.article.detail aside.related ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .article.detail aside.related ul {
    flex-wrap: nowrap;
  }
}

.article.detail aside.related h2 {
  font-size: 2.4rem;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 640px;
  margin: 0 auto 32px auto;
}

.article.detail aside.related li {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
}

.article.detail aside.related li:not(.video) {
  padding: 16px;
}

.article.detail aside.related li section {
  padding: 16px 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .article.detail aside.related li:not(:first-child) {
    margin: 0 0 16px 32px;
  }
}

.article.detail aside.related li figure {
  margin: 0;
  padding: 0;
}

.article.detail aside.related li figure.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 8px;
}

.article.detail aside.related li iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.article.detail aside.related li h3 {
  font-size: 1.6rem;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.article.detail aside.related li p,
.article.detail aside.related li a {
  font-size: 1.6rem;
  line-height: 24px;
}

.article.detail aside.related li footer {
  display: flex;
  justify-content: space-between;
}

.article.detail aside.related li footer a.more {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.article.detail aside.related li.video footer {
  padding: 0 16px 16px 16px;
}

.article.detail section.comments {
  max-width: 640px;
  margin: 0 auto 48px auto;
  padding: 16px;
}

.article.detail section.comments ol {
  margin: 0;
  padding: 0;
}

.article.detail section.comments li {
  display: flex;
  padding: 16px;
}

.article.detail section.comments textarea {
  font-size: 1.6rem;
  line-height: 32px;
  font-family: "Source Serif Pro", serif;
  border: none;
  background: none;
  padding: 8px;
  width: 100%;
}

.article.detail footer[role="contact"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 10vh;
  box-sizing: border-box;
}

.article.detail footer[role="contact"] a.logo,
.article.detail footer[role="contact"] img {
  display: inline-block;
  height: 40px;
}

.article.detail footer[role="contact"] small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .article.detail footer[role="contact"] small {
    display: none;
  }
}

.detail.article a {
  color: #12B4BA;
}

.detail.article a:hover, .detail.article a:focus {
  color: #0E8682;
}

.detail.article header {
  background-color: #FFFFFF;
}

.detail.article header.video {
  background-color: #333;
}

.detail.article section.content {
  background: #FFFFFF;
}

.detail.article section.content .toggle label {
  font-family: "Source Sans Pro", sans-serif;
}

.detail.article li.tag a {
  background: #FAFAFA;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
}

.detail.article li.tag a:hover, .detail.article li.tag a:focus {
  outline: none;
  color: #0E8682;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.detail.article aside.profile {
  border-top: 1px solid #E8E8E8;
}

@media (max-width: 767px) {
  .detail.article aside.social {
    background: #FFFFFF;
    border-top: 1px solid #E8E8E8;
  }
}

.detail.article aside.related li {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
}

.detail.article section.comments ol {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
}

.detail.article section.comments .material-icons {
  line-height: 1.6;
}

.detail.article footer[role="contact"] {
  background: #333333;
}

.detail.article footer[role="contact"] small {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .detail.article footer[role="contact"] {
    margin-bottom: 56px;
  }
}
