/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition-property: color, text-decoration-color, fill;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.article.detail section.content.heading h2, .detail.article .site, .detail.article header h1, .detail.article footer.content h2, .detail.article aside.profile h2, .detail.article section.comments h2, .detail.article footer[role="contact"] h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.article.detail nav .logo {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

body {
  padding-top: 80px;
}

@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
}

.article.detail nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 80px;
  padding: 0px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

@media (max-width: 767px) {
  .article.detail nav {
    height: 56px;
    padding: 4px 16px;
    justify-content: space-between;
  }
}

.article.detail nav #mobile-menu-toggle {
  display: none;
}

.article.detail nav #mobile-menu-toggle:checked ~ label[for='mobile-menu-toggle'] .material-icons {
  transform: rotateZ(180deg);
}

.article.detail nav #mobile-menu-toggle:not(:checked) ~ label[for='mobile-menu-toggle'] .material-icons {
  transform: rotateZ(0deg);
}

.article.detail nav label[for='mobile-menu-toggle'] {
  cursor: pointer;
  user-select: none;
}

.article.detail nav label[for='mobile-menu-toggle'] img {
  display: block;
}

.article.detail nav label[for='mobile-menu-toggle'] .material-icons {
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.article.detail nav ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .article.detail nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .article.detail nav ul li {
    margin: 8px 0px;
  }
}

@media (min-width: 768px) {
  .article.detail nav ul li {
    height: 100%;
  }
  .article.detail nav ul li a {
    height: 100%;
    box-sizing: border-box;
  }
}

.article.detail nav ul li {
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.article.detail nav ul li.active {
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .article.detail nav ul li {
    max-width: 150px;
    overflow: hidden;
    transition-property: width, max-width, padding, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
}

.article.detail nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition-property: font-size, font-weight, line-height, height, padding;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.article.detail nav ul li a span {
  padding: 2px 16px;
}

@media (max-width: 767px) {
  .article.detail nav ul li a span {
    padding-left: 0;
  }
}

.article.detail nav #search-button {
  display: none;
}

@media (min-width: 768px) {
  .article.detail nav #search-button:checked ~ label[for='search-button'] {
    padding-right: 16px;
  }
}

.article.detail nav label[for='search-button'] {
  display: block;
  padding: 22px 16px;
  padding-right: 0;
  cursor: pointer;
  user-select: none;
  transition: padding-right 0.5s ease;
}

.article.detail nav label[for='search-button'] .material-icons {
  vertical-align: middle;
}

.article.detail nav label[for='search-button'] img {
  display: block;
}

.article.detail nav .search-box {
  display: flex;
  align-items: center;
  max-width: 450px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .article.detail nav .search-box {
    transition-property: width,max-width,padding,margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
}

.article.detail nav .search-box input#search-input, .article.detail nav .search-box label[for='search-input'] {
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  color: #FFFFFF;
}

.article.detail nav .search-box input#search-input {
  background: transparent;
  border: none;
  outline: none;
  height: 36px;
  border-bottom: solid 2px #fff;
}

.article.detail nav .search-box input#search-input::placeholder {
  color: white;
  opacity: 1;
}

.article.detail nav .search-box input#search-input:-ms-input-placeholder {
  color: white;
}

.article.detail nav .search-box input#search-input::-ms-input-placeholder {
  color: white;
}

.article.detail nav .search-box input#search-input:focus::placeholder {
  color: transparent;
  opacity: 1;
}

.article.detail nav .search-box input#search-input:focus:-ms-input-placeholder {
  color: transparent;
}

.article.detail nav .search-box input#search-input:focus::-ms-input-placeholder {
  color: transparent;
}

.article.detail nav .search-box .search-clear {
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 22px 16px;
}

.article.detail nav .search-box .search-clear .material-icons {
  vertical-align: middle;
}

.article.detail nav .search-box .search-clear img {
  display: block;
}

@media (min-width: 768px) {
  .article.detail nav .logo {
    margin-left: 16px;
    margin-right: auto;
  }
}

.article.detail nav .menu {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media (max-width: 767px) {
  .article.detail nav .menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 100%;
    left: 40%;
    right: 0;
    height: unset;
    transition-property: max-height, padding-top, padding-bottom, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    padding: 16px 0px;
    padding-left: 16px;
    overflow: hidden;
    background-color: #333;
  }
}

@media (max-width: 480px) {
  .article.detail nav .menu {
    left: 0;
  }
}

.article.detail nav .menu ul {
  order: 0;
}

@media (max-width: 767px) {
  .article.detail nav label[for='search-button'] {
    display: none;
  }
}

@media (min-width: 768px) {
  .article.detail nav label[for='search-button'] {
    order: 1;
  }
}

.article.detail nav .search-box {
  order: 2;
}

.article.detail nav .search-box .search-clear {
  padding-right: 0px;
}

@media (max-width: 767px) {
  .article.detail nav .search-box .search-clear {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.article.detail nav.fixed-header {
  position: fixed;
  top: 0;
}

@media (max-width: 767px) {
  .article.detail nav.fixed-header .menu {
    top: 100%;
    bottom: unset;
  }
  .article.detail nav.fixed-header #mobile-menu-toggle:checked ~ ul {
    top: 100%;
    bottom: unset;
  }
}

@media (min-width: 768px) {
  .article.detail nav #search-button:checked ~ ul li:not(.active) {
    transition-duration: 0.2s;
    transition-delay: 0s;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .article.detail nav #search-button:checked ~ .search-box {
    transition-duration: 0.3s;
    transition-delay: 0.2s;
  }
  .article.detail nav #search-button:not(:checked) ~ ul li:not(.active) {
    transition-duration: 0.3s;
    transition-delay: 0.2s;
  }
  .article.detail nav #search-button:not(:checked) ~ .search-box {
    transition-duration: 0.2s;
    transition-delay: 0s;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .article.detail nav #mobile-menu-toggle:checked ~ .menu {
    max-height: 90vh;
  }
  .article.detail nav #mobile-menu-toggle:not(:checked) ~ .menu {
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .article.detail nav label[for='mobile-menu-toggle'] {
    display: none;
  }
}

.article.detail nav.nav-subpage {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: unset;
  top: 0;
  padding-left: 0;
}

.article.detail nav.nav-subpage h1:not(.logo) {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.article.detail nav.nav-subpage h1:not(.logo) {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 767px) {
  .article.detail nav.nav-subpage h1:not(.logo) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

.article.detail nav.nav-subpage footer[role="contact"] small, .article.detail footer[role="contact"] nav.nav-subpage small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.article.detail nav.nav-subpage .back {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  color: #FFFFFF;
  cursor: pointer;
  user-select: none;
}

.article.detail nav.nav-subpage .back .label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.article.detail nav.nav-subpage .back .arrow {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 4px;
}

.article.detail nav.nav-subpage .back .material-icons {
  vertical-align: middle;
}

.article.detail nav.nav-subpage .back .label {
  margin-left: 16px;
}

@media (max-width: 767px) {
  .article.detail nav.nav-subpage .back {
    padding: 0px 12px;
  }
  .article.detail nav.nav-subpage .back .label {
    display: none;
  }
}

.article.detail nav.nav-subpage .back {
  margin-right: calc(24px - 12px);
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .article.detail nav.nav-subpage .back {
    margin-right: calc(64px - 24px);
  }
}

@media (min-width: 1920px) {
  .article.detail nav.nav-subpage .back {
    margin-right: calc(72px - 24px);
  }
}

.article.detail nav.nav-subpage .logo {
  margin-left: auto;
  margin-right: unset;
}

.article.detail header[role="banner"] {
  position: relative;
  overflow: hidden;
}

.article.detail header[role="banner"] img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 30vh;
}

@media (min-width: 768px) {
  .article.detail header[role="banner"] img {
    height: 60vh;
  }
}

.article.detail header[role="banner"].video {
  overflow: hidden;
  padding-bottom: 56.25%;
  margin: 0;
  position: relative;
  height: 0;
}

@media screen and (min-width: 1024px) {
  .article.detail header[role="banner"].video {
    padding-bottom: 41.55%;
  }
}

.article.detail header[role="banner"].video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.article.detail section.content {
  margin-top: 16px;
  padding: 0 16px;
}

.article.detail section.content.heading {
  margin-bottom: 32px;
  font-size: 2rem;
  line-height: 32px;
  color: #333333;
  font-weight: 100;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .article.detail section.content.heading {
    font-size: 2.4rem;
    line-height: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .article.detail section.content.heading {
    transform: translateX(-80px);
  }
}

.article.detail section.content.heading p:first-of-type::first-letter {
  font-size: 8rem;
  line-height: 0.8;
  color: #12B4BA;
  float: left;
  margin: 0 8px 0 0;
  vertical-align: text-top;
}

@media screen and (min-width: 768px) {
  .article.detail section.content.heading p:first-of-type::first-letter {
    font-size: 13rem;
    line-height: 0.9;
    margin: 0 16px -16px 0;
  }
}

.article.detail section.content.copy {
  position: relative;
  max-width: 640px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.6rem;
  line-height: 24px;
}

@media (min-width: 768px) {
  .article.detail section.content.copy {
    font-size: 2rem;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 844px) {
  .article.detail section.content.copy {
    margin: 0 0 32px auto;
  }
}

.article.detail section.content.copy h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .article.detail section.content.copy h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

.article.detail section.content.copy p {
  margin: 0;
}

.article.detail section.content.copy ul {
  padding: 0;
}

.article.detail section.content.copy ul li {
  margin-left: 1em;
}

.article.detail section.content.copy h2 + p, .article.detail section.content.copy h2 + h2, .article.detail section.content.copy p + p, .article.detail section.content.copy p + h2, .article.detail section.content.copy ul + p, .article.detail section.content.copy ul + h2, .article.detail section.content.copy ol + p, .article.detail section.content.copy ol + h2 {
  margin-top: 32px;
}

.article.detail section.content.copy p + ul {
  margin-top: 0;
}

.article.detail section.content.copy .toggle {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 640px;
  margin-top: 0;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
}

.article.detail section.content.copy .toggle li {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-left: 0;
}

.article.detail section.content.copy .toggle li + li + li {
  width: 100%;
  text-align: left;
  margin-top: 32px;
  height: 160px;
  overflow: auto;
}

.article.detail section.content.copy .toggle input[type="radio"] {
  display: none;
}

.article.detail section.content.copy .toggle input[type="radio"]:not(:checked) ~ li[class] {
  display: none;
}

.article.detail section.content.copy .toggle input[type="radio"]#about:checked ~ li [for="about"] {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #12B4BA;
}

.article.detail section.content.copy .toggle input[type="radio"]#about:checked ~ li.about {
  display: block;
}

.article.detail section.content.copy .toggle input[type="radio"]#transcript:checked ~ li [for="transcript"] {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #12B4BA;
}

.article.detail section.content.copy .toggle input[type="radio"]#transcript:checked ~ li.transcript {
  display: block;
}

@keyframes left {
  0% {
  }
  100% {
    position: absolute;
    left: -100%;
  }
}

.article.detail footer.content {
  display: flex;
  max-width: 640px;
  margin: 0 auto 32px auto;
}

.article.detail footer.content ul {
  margin: 0;
  padding: 0;
}

.article.detail footer.content ul ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.article.detail footer.content ul li.tag {
  margin: 0 16px 16px 0;
  display: inline-block;
}

.article.detail footer.content ul li.tag a {
  font-size: 1.6rem;
  line-height: 24px;
  color: #12B4BA;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 8px 16px;
}

.article.detail aside.profile {
  max-width: 640px;
  margin: 0 auto;
  padding: 24px 0 0 0;
}

.article.detail aside.profile ul {
  margin: 0;
  padding: 0;
}

.article.detail aside.profile ul .card.profile {
  display: inline-block;
  margin: 16px 0 0;
}

.article.detail aside.profile ul .card.profile h3 {
  font-size: 2.4rem;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  margin: 0;
}

.article.detail aside.profile ul .card.profile p {
  font-size: 1.6rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .article.detail aside.profile ul .card.profile {
    width: calc(50% - 16px);
  }
  .article.detail aside.profile ul .card.profile:nth-child(odd) {
    margin-right: 32px;
  }
}

.article.detail aside.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .article.detail aside.social {
    transform: translateX(-64px);
  }
}

@media screen and (min-width: 1024px) {
  .article.detail aside.social {
    transform: translateX(-144px);
  }
}

.article.detail aside.social h2 {
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900 !important;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.article.detail aside.social a {
  display: block;
  text-decoration: none;
  padding: 16px;
}

.article.detail aside.social a .material-icons {
  display: block;
}

@media (max-width: 767px) {
  .article.detail aside.social {
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .article.detail aside.social h2 {
    display: none;
  }
}

.article.detail aside.related {
  padding: 16px 16px;
}

.article.detail aside.related ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .article.detail aside.related ul {
    flex-wrap: nowrap;
  }
}

.article.detail aside.related h2 {
  font-size: 2.4rem;
  line-height: 32px;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 640px;
  margin: 0 auto 32px auto;
}

.article.detail aside.related li {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
}

.article.detail aside.related li:not(.video) {
  padding: 16px;
}

.article.detail aside.related li section {
  padding: 16px 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .article.detail aside.related li:not(:first-child) {
    margin: 0 0 16px 32px;
  }
}

.article.detail aside.related li figure {
  margin: 0;
  padding: 0;
}

.article.detail aside.related li figure.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 8px;
}

.article.detail aside.related li iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.article.detail aside.related li h3 {
  font-size: 1.6rem;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.article.detail aside.related li p,
.article.detail aside.related li a {
  font-size: 1.6rem;
  line-height: 24px;
}

.article.detail aside.related li footer {
  display: flex;
  justify-content: space-between;
}

.article.detail aside.related li footer a.more {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.article.detail aside.related li.video footer {
  padding: 0 16px 16px 16px;
}

.article.detail section.comments {
  max-width: 640px;
  margin: 0 auto 48px auto;
  padding: 16px;
}

.article.detail section.comments ol {
  margin: 0;
  padding: 0;
}

.article.detail section.comments li {
  display: flex;
  padding: 16px;
}

.article.detail section.comments textarea {
  font-size: 1.6rem;
  line-height: 32px;
  font-family: "Source Serif Pro", serif;
  border: none;
  background: none;
  padding: 8px;
  width: 100%;
}

.article.detail footer[role="contact"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 10vh;
  box-sizing: border-box;
}

.article.detail footer[role="contact"] a.logo,
.article.detail footer[role="contact"] img {
  display: inline-block;
  height: 40px;
}

.article.detail footer[role="contact"] nav.nav-subpage h1:not(.logo), .article.detail nav.nav-subpage footer[role="contact"] h1:not(.logo) {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.article.detail footer[role="contact"] nav.nav-subpage h1:not(.logo), .article.detail nav.nav-subpage footer[role="contact"] h1:not(.logo) {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 767px) {
  .article.detail footer[role="contact"] nav.nav-subpage h1:not(.logo), .article.detail nav.nav-subpage footer[role="contact"] h1:not(.logo) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

.article.detail footer[role="contact"] small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .article.detail footer[role="contact"] small {
    display: none;
  }
}

.article.detail nav.nav-subpage a {
  color: #FFFFFF;
  text-decoration: none;
}

.article.detail nav.nav-subpage a:hover, .article.detail nav.nav-subpage a:focus {
  color: #0E8682;
}

.article.detail aside.social,
.article.detail footer.content .like,
.article.detail footer.content .bookmark,
.article.detail aside.related .like {
  visibility: hidden !important;
}

.detail.article a {
  color: #12B4BA;
}

.detail.article a:hover, .detail.article a:focus {
  color: #0E8682;
}

.detail.article header {
  background-color: #FFFFFF;
}

.detail.article header.video {
  background-color: #333;
}

.detail.article section.content {
  background: #FFFFFF;
}

.detail.article section.content .toggle label {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
}

.detail.article li.tag a {
  background: #FAFAFA;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
}

.detail.article li.tag a:hover, .detail.article li.tag a:focus {
  outline: none;
  color: #0E8682;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.detail.article aside.profile {
  border-top: 1px solid #E8E8E8;
}

@media (max-width: 767px) {
  .detail.article aside.social {
    background: #FFFFFF;
    border-top: 1px solid #E8E8E8;
  }
}

.detail.article aside.related li {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
}

.detail.article section.comments ol {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
}

.detail.article section.comments .material-icons {
  line-height: 1.6;
}

.detail.article footer[role="contact"] {
  background: #333333;
}

.detail.article footer[role="contact"] small {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .detail.article footer[role="contact"] {
    margin-bottom: 56px;
  }
}
