/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition: all 0.25s ease-in-out;
}

.home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.home {
  /* RESETS */
  /* BASE */
}

.home article, .home aside, .home details, .home figcaption, .home figure,
.home footer, .home header, .home hgroup, .home menu, .home nav, .home section {
  display: block;
}

.home table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

.home textarea,
.home input,
.home button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

.home html {
  font-size: x-small;
}

.home html,
.home body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

.home h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

.home a {
  transition: all 0.25s ease-in-out;
}

.home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.home ul[aria-label="filterable"] {
  margin: 0;
  padding: 0;
}

.home ul[aria-label="filterable"] article {
  display: none;
}

.home ul[aria-label="filterable"] li {
  width: 100%;
  display: flex;
  height: auto;
}

.home ul[aria-label="filterable"] figure {
  margin: 0;
  width: 100%;
  display: flex;
}

.home ul[aria-label="filterable"] figure figure {
  position: relative;
  width: 60%;
  height: 640px;
  overflow: hidden;
  margin: 0;
  display: inline-block;
}

.home ul[aria-label="filterable"] figure figure img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
}

.home ul[aria-label="filterable"] figure figure img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.home ul[aria-label="filterable"] figure figure figcaption {
  display: none;
}

.home ul[aria-label="filterable"] figure figcaption {
  padding: 128px 16px 0;
}

.home ul[aria-label="filterable"] figcaption {
  width: 40%;
  display: inline-block;
}

.home nav {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 10vh;
  padding: 16px;
  box-sizing: border-box;
  color: #fff;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.home nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home nav ul nav li:first-of-type {
  margin-right: auto;
}

.home nav li {
  display: inline-block;
  padding: 0 16px;
}

.home nav li a {
  text-decoration: none;
  color: #fff;
}

.home nav .fixed-header {
  position: fixed;
  top: 0;
}

.home nav .logo {
  margin-right: auto;
}

.home nav.subpage {
  position: fixed;
  bottom: unset;
  top: 0;
}

.home nav.subpage h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.home nav.subpage h1 {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  .home nav.subpage h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

.home nav.subpage .back {
  display: flex;
  align-items: center;
  color: #fff;
}

.home nav.subpage .back:hover {
  color: #c1bfc1;
}

.home nav.subpage .back .label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.home nav.subpage .back .arrow {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 4px;
}

.home nav.subpage .back .label {
  margin-left: 16px;
}

@media (max-width: 769px) {
  .home nav.subpage .back .label {
    display: none;
  }
}

.home nav.subpage .back {
  margin-right: 64px;
}

@media (max-width: 769px) {
  .home nav.subpage .back {
    margin-right: 24px;
  }
}

@media (min-width: 1920px) {
  .home nav.subpage .back {
    margin-right: 72px;
  }
}

.home nav.subpage .logo {
  margin-left: auto;
  margin-right: unset;
}

.home > article {
  height: calc(100% - 80px);
  width: 100%;
}

.home nav {
  color: white;
  background-color: #333;
}

.home nav li {
  border-bottom: solid 2px #333;
}

.home nav li:hover {
  border-bottom: solid 2px #12B4BA;
}

.home nav li:first-of-type {
  margin-right: auto;
}

.home nav li:first-of-type:hover {
  border-bottom-color: #333;
}

:not(section) ul {
  padding: 0;
  margin: 0;
}

ul[aria-label="featured"] {
  width: 400%;
  height: 100%;
  padding-bottom: 80px;
}

ul[aria-label="featured"] li {
  display: inline-block;
  height: 100%;
  width: 25%;
}

ul[aria-label="featured"] li:not(:target) article {
  display: none;
}

ul[aria-label="featured"] li:target {
  animation: slide-up 0.5s ease-in-out 0.25s both;
}

ul[aria-label="featured"] figure {
  margin: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: #fff;
  background: #000;
  z-index: 0;
}

ul[aria-label="featured"] figure img {
  position: absolute;
  height: auto;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.7;
}

ul[aria-label="featured"] figcaption {
  padding-top: calc((100vh - 80px) - 75vh);
  padding-left: 12.5%;
  padding-right: 25%;
  z-index: 2;
}

ul[aria-label="featured"] article {
  padding-top: calc((100vh - 80px) - 75vh);
  padding-left: 12.5%;
  padding-right: 25%;
}

ul[aria-label="featured"] h3 {
  font-size: 4.4rem;
  line-height: 48px;
}

ul[aria-label="featured"] p {
  font-size: 2.4rem;
  line-height: 36px;
}

ul[aria-label="featured"] a {
  background-color: #12B4BA;
  padding: 16px 32px;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 24px;
  border-radius: 4px;
  font-weight: bold;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
