article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

/* BASE */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.home nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: calc(80px - 32px);
  padding: 16px;
}

.home nav .fixed-header {
  position: fixed;
  top: 0;
}

.home nav ul {
  display: flex;
  align-items: center;
}

.home nav li {
  display: inline-block;
  padding: 0 16px;
}

.home nav li a {
  text-decoration: none;
  color: #fff;
}

.home > article {
  height: calc(100% - 80px);
  width: 100%;
}

.home nav {
  color: white;
  background-color: #333;
}

.home nav li {
  border-bottom: solid 2px #333;
}

.home nav li:hover {
  border-bottom: solid 2px #12B4BA;
}

.home nav li:first-of-type {
  margin-right: auto;
}

.home nav li:first-of-type:hover {
  border-bottom-color: #333;
}

:not(section) ul {
  padding: 0;
  margin: 0;
}

ul[aria-label="featured"] {
  width: 400%;
  height: 100%;
  padding-bottom: 80px;
}

ul[aria-label="featured"] li {
  display: inline-block;
  height: 100%;
  width: 25%;
}

ul[aria-label="featured"] li:not(:target) article {
  display: none;
}

ul[aria-label="featured"] li:target {
  animation: slide-up 0.5s ease-in-out 0.25s both;
}

ul[aria-label="featured"] figure {
  margin: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: #fff;
  background: #000;
  z-index: 0;
}

ul[aria-label="featured"] figure img {
  position: absolute;
  height: auto;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.7;
}

ul[aria-label="featured"] figcaption {
  padding-top: calc((100vh - 80px) - 75vh);
  padding-left: 12.5%;
  padding-right: 25%;
  z-index: 2;
}

ul[aria-label="featured"] article {
  padding-top: calc((100vh - 80px) - 75vh);
  padding-left: 12.5%;
  padding-right: 25%;
}

ul[aria-label="featured"] h3 {
  font-size: 4.4rem;
  line-height: 48px;
}

ul[aria-label="featured"] p {
  font-size: 2.4rem;
  line-height: 36px;
}

ul[aria-label="featured"] a {
  background-color: #12B4BA;
  padding: 16px 32px;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 24px;
  border-radius: 4px;
  font-weight: bold;
}

ul[aria-label="filterable"] article {
  display: none;
  width: calc(40% - 32px);
  padding: 128px 16px 16px;
  max-height: calc(640px - 144px);
  position: relative;
}

ul[aria-label="filterable"] article h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

ul[aria-label="filterable"] li {
  width: 100%;
  display: flex;
  height: auto;
}

ul[aria-label="filterable"] figure {
  margin: 0;
  width: 100%;
}

ul[aria-label="filterable"] figure figure {
  position: relative;
  width: 60%;
  height: 640px;
  overflow: hidden;
  margin: 0;
  display: inline-block;
}

ul[aria-label="filterable"] figure figure img {
  position: absolute;
  height: auto;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

ul[aria-label="filterable"] figure figure figcaption {
  display: none;
}

ul[aria-label="filterable"] figcaption {
  width: 40%;
  display: inline-block;
}

ul[aria-label="filterable"] li:nth-of-type(2n+0) {
  flex-direction: row-reverse;
}

ul[aria-label="filterable"] footer {
  font-size: 1.6rem;
}

ul[aria-label="filterable"] footer a {
  position: absolute;
  bottom: 0;
}

ul[aria-label="filterable"] a {
  text-decoration: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
