/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition: all 0.25s ease-in-out;
}

.home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.home nav ul li:first-of-type *, .home nav .mobile .logo {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.home {
  /* RESETS */
  /* BASE */
}

.home article, .home aside, .home details, .home figcaption, .home figure,
.home footer, .home header, .home hgroup, .home menu, .home nav, .home section {
  display: block;
}

.home table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

.home textarea,
.home input,
.home button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

.home html {
  font-size: x-small;
}

.home html,
.home body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

.home h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

.home a {
  transition: all 0.25s ease-in-out;
}

.home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.home nav ul li:first-of-type *, .home nav .mobile .logo {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.home ul[aria-label="featured"] {
  width: 400%;
  height: 100%;
  padding-bottom: 80px;
}

@media (max-width: 769px) {
  .home ul[aria-label="featured"] {
    padding-bottom: 56px;
  }
}

.home ul[aria-label="featured"] article {
  padding-top: calc((100vh - 80px) - 75vh);
  padding-left: 12.5%;
  padding-right: 25%;
}

@media (max-width: 769px) {
  .home ul[aria-label="featured"] article {
    padding-top: calc((100vh - 56px) - 75vh);
  }
}

.home ul[aria-label="featured"] figure {
  margin: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: #fff;
  background: #000;
  z-index: 0;
}

.home ul[aria-label="featured"] img {
  position: absolute;
  height: auto;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.7;
}

.home ul[aria-label="featured"] figcaption {
  padding-top: calc((100vh - 80px) - 75vh);
  padding-left: 12.5%;
  padding-right: 25%;
  z-index: 2;
}

.home ul[aria-label="featured"] li {
  display: inline-block;
  height: 100%;
  width: 25%;
}

.home ul[aria-label="featured"] li:not(:target) article {
  display: none;
}

.home ul[aria-label="featured"] li:target {
  animation: slide-up 0.5s ease-in-out 0.25s both;
}

.home ul[aria-label="filterable"] {
  margin: 0;
  padding: 0;
}

.home ul[aria-label="filterable"] article {
  display: none;
}

.home ul[aria-label="filterable"] li {
  width: 100%;
  height: auto;
}

.home ul[aria-label="filterable"] figure {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure {
    display: flex;
  }
}

.home ul[aria-label="filterable"] figure .fig-image {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-image {
    width: 60%;
    overflow: hidden;
    height: 640px;
    position: relative;
  }
  .home ul[aria-label="filterable"] figure .fig-image img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
  }
}

.home ul[aria-label="filterable"] figure .fig-image img {
  width: 100%;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-image img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }
}

.home ul[aria-label="filterable"] figure .fig-image figcaption {
  font-size: 3.2rem;
  line-height: 40px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-image figcaption {
    display: none;
  }
}

.home ul[aria-label="filterable"] figure .fig-content {
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  position: relative;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content {
    width: 40%;
  }
}

.home ul[aria-label="filterable"] figure .fig-content h3, .home ul[aria-label="filterable"] figure .fig-content p {
  padding: 0 16px;
}

.home ul[aria-label="filterable"] figure .fig-content h3 {
  display: none;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content h3 {
    display: block;
  }
}

.home ul[aria-label="filterable"] figure .fig-content .more {
  font-size: 1.6rem;
  line-height: 25px;
  color: #12B4BA;
  padding: 24px 16px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}

.home ul[aria-label="filterable"] figure .fig-content .more:hover {
  color: #0E8682;
}

.home ul[aria-label="filterable"] figure .fig-content .category {
  font-size: 1.6rem;
  line-height: 25px;
  color: #333;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  padding: 24px 16px;
  display: none;
}

.home ul[aria-label="filterable"] figure .fig-content .category span {
  font-weight: 600;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content .category {
    display: inline-block;
  }
}

.home nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 80px;
  padding: 16px;
  box-sizing: border-box;
  color: #fff;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

@media (max-width: 769px) {
  .home nav {
    height: 56px;
    padding: 4px 16px;
  }
}

.home nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home nav ul li:first-of-type {
  margin-right: auto;
}

@media (min-width: 768px) {
  .home nav ul li.mobile {
    display: none;
  }
}

.home nav ul li.mobile:last-of-type {
  margin-left: auto;
}

@media (max-width: 769px) {
  .home nav ul li:not(.mobile):not(:first-child) {
    display: none;
  }
}

.home nav ul li {
  display: inline-block;
  padding: 0 16px;
}

.home nav ul li a {
  text-decoration: none;
  color: #fff;
}

.home nav ul {
  height: 100%;
}

@media (max-width: 769px) {
  .home nav ul {
    display: none;
  }
}

.home nav .mobile {
  position: relative;
  height: 100%;
}

.home nav .mobile .logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.home nav .mobile .hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home nav .mobile .search {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.home nav .mobile .hamburger img, .home nav .mobile .search img {
  display: block;
}

@media (min-width: 768px) {
  .home nav .mobile {
    display: none;
  }
}

.home nav.fixed-header {
  position: fixed;
  top: 0;
}

.home nav .logo {
  margin-right: auto;
}

.home nav.nav-subpage {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: unset;
  top: 0;
}

.home nav.nav-subpage h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.home nav.nav-subpage h1 {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  .home nav.nav-subpage h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

.home nav.nav-subpage .back {
  display: flex;
  align-items: center;
  color: #fff;
}

.home nav.nav-subpage .back:hover {
  color: #c1bfc1;
}

.home nav.nav-subpage .back .label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.home nav.nav-subpage .back .arrow {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 4px;
}

.home nav.nav-subpage .back .label {
  margin-left: 16px;
}

@media (max-width: 769px) {
  .home nav.nav-subpage .back .label {
    display: none;
  }
}

.home nav.nav-subpage .back {
  margin-right: 64px;
}

@media (max-width: 769px) {
  .home nav.nav-subpage .back {
    margin-right: 24px;
  }
}

@media (min-width: 1920px) {
  .home nav.nav-subpage .back {
    margin-right: 72px;
  }
}

.home nav.nav-subpage .logo {
  margin-left: auto;
  margin-right: unset;
}

.home > article {
  width: 100%;
  height: calc(100% - 80px);
}

@media (max-width: 769px) {
  .home > article {
    height: calc(100% - 56px);
  }
}

.home nav {
  color: white;
  background-color: #333;
}

.home nav li {
  border-bottom: solid 2px #333;
}

.home nav li:hover {
  border-bottom: solid 2px #12B4BA;
}

.home nav li:first-of-type:hover {
  border-bottom-color: #333;
}

:not(section) ul {
  padding: 0;
  margin: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
