/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition-property: color, text-decoration-color, fill;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.home nav .logo {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.home {
  /* RESETS */
  /* BASE */
  /* Animation */
}

.home article, .home aside, .home details, .home figcaption, .home figure,
.home footer, .home header, .home hgroup, .home menu, .home nav, .home section {
  display: block;
}

.home table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

.home textarea,
.home input,
.home button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

.home html {
  font-size: x-small;
}

.home html,
.home body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

.home h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

.home a {
  transition-property: color, text-decoration-color, fill;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.home nav .logo {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.home > article > header {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  overflow-x: hidden;
}

.home > article > header ul[aria-label="featured"] {
  width: 200%;
  height: 100%;
  -webkit-animation: slide 30s infinite;
  -moz-animation: slide 30s infinite;
  animation: slide 30s infinite;
}

@media (max-width: 769px) {
  .home > article > header ul[aria-label="featured"] {
    padding-bottom: 56px;
  }
}

.home > article > header ul[aria-label="featured"] figure {
  margin: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: #fff;
  background: #000;
  z-index: 0;
}

.home > article > header ul[aria-label="featured"] img {
  position: absolute;
  height: auto;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.7;
}

.home > article > header ul[aria-label="featured"] figcaption {
  padding: calc((100vh - 80px) - 75vh) 12.5% 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.home > article > header ul[aria-label="featured"] p {
  margin: 32px auto;
  font-size: 24px;
  line-height: 36px;
}

@media (min-width: 768px) {
  .home > article > header ul[aria-label="featured"] p {
    width: 640px;
  }
}

.home > article > header ul[aria-label="featured"] h3 {
  font-size: 44px;
  font-family: 'Source Sans Pro', serif;
}

@media (min-width: 768px) {
  .home > article > header ul[aria-label="featured"] h3 {
    margin: 44px 0;
  }
}

.home > article > header ul[aria-label="featured"] [role="button"] {
  padding: 16px 32px;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 16px 32px;
  background: #12B4BA;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-family: 'Source Sans Pro', serif;
  font-weight: 600;
  border-radius: 5px;
}

.home > article > header ul[aria-label="featured"] header {
  padding: 24px 0;
  border-bottom: solid 1px #9B9B9B;
  position: relative;
  margin-top: auto;
  display: none;
  width: 272px;
}

@media (min-width: 768px) {
  .home > article > header ul[aria-label="featured"] header {
    display: block;
    width: 272px;
  }
}

.home > article > header ul[aria-label="featured"] .category {
  font-size: 1.6rem;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  display: none;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .home > article > header ul[aria-label="featured"] .category {
    position: absolute;
    left: 0;
    border-bottom: solid 1px #FFFFFF;
    bottom: -1px;
    padding-right: 16px;
    display: block;
  }
}

.home > article > header ul[aria-label="featured"] li {
  display: inline-block;
  height: 100%;
  width: 50%;
}

.home > article > header ul[aria-label="featured"] li:not(:target) article {
  display: none;
}

.home > article > header ul[aria-label="featured"] li:target {
  animation: slide-up 0.5s ease-in-out 0.25s both;
}

@-webkit-keyframes slide {}.home ul[aria-label="filterable"] {
  margin: 0;
  padding: 0;
}

.home ul[aria-label="filterable"] article {
  display: none;
}

.home ul[aria-label="filterable"] li {
  width: 100%;
  height: auto;
}

.home ul[aria-label="filterable"] figure {
  margin: 0;
  padding: 0;
}

.home ul[aria-label="filterable"] figure.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure {
    display: flex;
  }
}

.home ul[aria-label="filterable"] figure .fig-image {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-image {
    width: 60%;
    overflow: hidden;
    height: 640px;
    position: relative;
  }
  .home ul[aria-label="filterable"] figure .fig-image img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
  }
}

.home ul[aria-label="filterable"] figure .fig-image img {
  width: 100%;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-image img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }
}

.home ul[aria-label="filterable"] figure .fig-image figcaption {
  font-size: 3.2rem;
  line-height: 40px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-image figcaption {
    display: none;
  }
}

.home ul[aria-label="filterable"] figure .fig-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  position: relative;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content {
    width: 40%;
  }
}

.home ul[aria-label="filterable"] figure .fig-content p {
  margin: 16px 24px;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content p {
    margin: 4px 16px 24px;
  }
}

.home ul[aria-label="filterable"] figure .fig-content h3 {
  display: none;
  margin: 128px 16px 0;
  font-family: 'Source Sans Pro', serif;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content h3 {
    display: block;
  }
}

.home ul[aria-label="filterable"] figure .fig-content .more {
  font-size: 1.6rem;
  line-height: 25px;
  color: #12B4BA;
  padding: 24px 16px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin-left: auto;
}

.home ul[aria-label="filterable"] figure .fig-content .more:hover {
  color: #0E8682;
}

.home ul[aria-label="filterable"] figure .fig-content footer {
  padding: 24px 0;
  margin: auto 16px 24px;
  border-bottom: solid 1px #BDBDBD;
  position: relative;
  margin-top: auto;
  margin-bottom: 24px;
  display: none;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content footer {
    display: block;
  }
}

.home ul[aria-label="filterable"] figure .fig-content .category {
  font-size: 1.6rem;
  line-height: 25px;
  color: #bdbdbd;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  display: none;
}

.home ul[aria-label="filterable"] figure .fig-content .category span {
  color: #333;
}

@media (min-width: 768px) {
  .home ul[aria-label="filterable"] figure .fig-content .category {
    position: absolute;
    left: 0;
    border-bottom: solid 1px #333;
    bottom: -1px;
    padding-right: 16px;
    display: block;
  }
}

.home nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 80px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

@media (max-width: 769px) {
  .home nav {
    height: 56px;
    padding: 4px 16px;
    justify-content: space-between;
  }
}

.home nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

@media (max-width: 769px) {
  .home nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .home nav ul li {
    margin: 8px 0px;
  }
}

.home nav ul li {
  display: inline-block;
  padding: 0 16px;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
}

@media (max-width: 769px) {
  .home nav ul li {
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  .home nav ul li {
    transition-property: width,max-width,padding,margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
}

.home nav ul li a {
  text-decoration: none;
  color: #fff;
}

.home nav input#search-button {
  display: none;
}

@media (min-width: 768px) {
  .home nav input#search-button:checked ~ label[for='search-button'] {
    padding-right: 16px;
  }
}

.home nav label[for='search-button'] {
  padding: 22px 16px;
  padding-right: 0;
  transition: padding-right 0.5s ease;
}

.home nav label[for='search-button'] img {
  display: block;
}

.home nav .search-box {
  display: flex;
  align-items: center;
  max-width: 450px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .home nav .search-box {
    transition-property: width,max-width,padding,margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
}

.home nav .search-box input#search-input, .home nav .search-box label[for='search-input'] {
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  color: #FFFFFF;
}

.home nav .search-box input#search-input {
  background: transparent;
  border: none;
  outline: none;
  height: 36px;
  border-bottom: solid 2px #fff;
}

.home nav .search-box input#search-input::placeholder {
  color: white;
  opacity: 1;
}

.home nav .search-box input#search-input:-ms-input-placeholder {
  color: white;
}

.home nav .search-box input#search-input::-ms-input-placeholder {
  color: white;
}

.home nav .search-box input#search-input:focus::placeholder {
  color: transparent;
  opacity: 1;
}

.home nav .search-box input#search-input:focus:-ms-input-placeholder {
  color: transparent;
}

.home nav .search-box input#search-input:focus::-ms-input-placeholder {
  color: transparent;
}

.home nav .search-box .search-clear {
  display: block;
  padding: 22px 16px;
}

.home nav .search-box .search-clear img {
  display: block;
}

@media (max-width: 769px) {
  .home nav .menu {
    display: none;
  }
}

.home nav ul {
  order: 0;
}

.home nav .menu {
  display: flex;
  flex-direction: row;
}

@media (max-width: 769px) {
  .home nav .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 100%;
    left: 40%;
    right: 0;
    height: unset;
    padding: 16px 0px;
    padding-left: 16px;
    background-color: #333;
  }
}

@media (max-width: 480px) {
  .home nav .menu {
    left: 0;
  }
}

@media (max-width: 769px) {
  .home nav #mobile-hamburger:checked ~ .menu {
    display: flex;
  }
}

@media (max-width: 769px) {
  .home nav.fixed-header .menu {
    top: 100%;
    bottom: unset;
  }
}

.home nav label[for='search-button'] {
  order: 1;
}

@media (max-width: 769px) {
  .home nav label[for='search-button'] {
    display: none;
  }
}

.home nav .search-box {
  order: 2;
}

.home nav .search-box .search-clear {
  padding-right: 0px;
}

@media (max-width: 769px) {
  .home nav .search-box .search-clear {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .home nav #search-button:checked ~ ul li:not(.active) {
    transition-duration: 0.2s;
    transition-delay: 0s;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .home nav #search-button:checked ~ .search-box {
    transition-duration: 0.3s;
    transition-delay: 0.2s;
  }
  .home nav #search-button:not(:checked) ~ ul li:not(.active) {
    transition-duration: 0.3s;
    transition-delay: 0.2s;
  }
  .home nav #search-button:not(:checked) ~ .search-box {
    transition-duration: 0.2s;
    transition-delay: 0s;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 769px) {
  .home nav.fixed-header #mobile-hamburger:checked ~ ul {
    top: 100%;
    bottom: unset;
  }
}

@media (min-width: 768px) {
  .home nav .logo {
    margin-left: 16px;
    margin-right: auto;
  }
}

.home nav #mobile-hamburger {
  display: none;
}

.home nav #mobile-hamburger:checked ~ .hamburger .unchecked {
  display: none;
}

.home nav #mobile-hamburger:not(:checked) ~ .hamburger .checked {
  display: none;
}

.home nav .hamburger img, .home nav .search img {
  display: block;
}

.home nav .hamburger .material-icons, .home nav .search .material-icons {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .home nav .hamburger, .home nav .search {
    display: none;
  }
}

.home nav.fixed-header {
  position: fixed;
  top: 0;
}

.home nav.nav-subpage {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: unset;
  top: 0;
}

.home nav.nav-subpage h1:not(.logo) {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.home nav.nav-subpage h1:not(.logo) {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  .home nav.nav-subpage h1:not(.logo) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

.home nav.nav-subpage .back {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.home nav.nav-subpage .back:hover {
  color: #9B9B9B;
}

.home nav.nav-subpage .back .label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.home nav.nav-subpage .back .arrow {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 4px;
}

.home nav.nav-subpage .back .label {
  margin-left: 16px;
}

@media (max-width: 769px) {
  .home nav.nav-subpage .back .label {
    display: none;
  }
}

.home nav.nav-subpage .back {
  margin-right: 64px;
}

@media (max-width: 769px) {
  .home nav.nav-subpage .back {
    margin-right: 24px;
  }
}

@media (min-width: 1920px) {
  .home nav.nav-subpage .back {
    margin-right: 72px;
  }
}

.home nav.nav-subpage .logo {
  margin-left: auto;
  margin-right: unset;
}

.home p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home > article {
  width: 100%;
  height: calc(100% - 80px);
}

@media (max-width: 769px) {
  .home > article {
    height: calc(100% - 56px);
  }
}

.home nav {
  color: white;
  background-color: #333;
}

.home nav li {
  border-bottom: solid 2px transparent;
}

.home nav li:hover {
  border-bottom: solid 2px #12B4BA;
}

:not(section) ul {
  padding: 0;
  margin: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
