#home > article h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: calc(80px - 32px);
  padding: 16px;
  color: white;
  background-color: #333333; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  nav li:first-of-type {
    margin-right: auto; }
  nav li {
    display: inline-block;
    padding: 0 16px;
    border-bottom: solid 2px #333333; }
  nav li:hover {
    border-bottom: solid 2px #12B4BA; }
  nav a {
    text-decoration: none;
    color: #fff; }

.fixed-header {
  position: fixed;
  top: 0; }

:not(section) ul {
  padding: 0;
  margin: 0; }

#home > article {
  height: calc(100% - 80px);
  width: 100%; }

ul[aria-label="featured"] {
  width: 400%;
  height: 100%;
  padding-bottom: 80px; }
  ul[aria-label="featured"] li {
    display: inline-block;
    height: 100%;
    width: 25%; }
    ul[aria-label="featured"] li:not(:target) article {
      display: none; }
    ul[aria-label="featured"] li:target {
      -webkit-animation: slide-up 0.5s ease-in-out 0.25s both;
      animation: slide-up 0.5s ease-in-out 0.25s both; }
  ul[aria-label="featured"] figure {
    margin: 0; }
  ul[aria-label="featured"] figcaption {
    padding-top: calc((100vh - 80px) - 75vh);
    padding-left: 12.5%;
    padding-right: 25%; }
  ul[aria-label="featured"] h3 {
    font-size: 4.4rem;
    line-height: 48px; }
  ul[aria-label="featured"] p {
    font-size: 2.4rem;
    line-height: 36px; }
  ul[aria-label="featured"] a {
    background-color: #12B4BA;
    padding: 16px 32px;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 24px;
    border-radius: 4px;
    font-weight: bold; }

ul[aria-label="filterable"] article {
  width: calc(40% - 32px);
  float: left;
  padding: 128px 16px 16px; }
  ul[aria-label="filterable"] article h3 {
    font-size: 3.2rem;
    line-height: 40px; }

ul[aria-label="filterable"] li {
  width: 100%; }

ul[aria-label="filterable"] figure {
  float: left;
  width: 60%;
  height: 640px;
  padding: 0;
  margin: 0;
  background: grey; }

ul[aria-label="filterable"] li:nth-of-type(2n+0) figure {
  float: right; }

ul[aria-label="filterable"] figcaption {
  visibility: hidden; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
