/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition-property: color, text-decoration-color, fill;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

footer[role="contact"] h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

nav .logo, * {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

nav.nav-subpage h1:not(.logo), .panel-view .panel h2, .panel-view .panel h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.panel-view .panel ul {
  padding-left: 1.25em;
  list-style-type: disc;
}

nav.nav-subpage h1:not(.logo) {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  nav.nav-subpage h1:not(.logo) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

.panel-view .panel h2 {
  font-size: 44px;
  line-height: 48px;
}

@media (max-width: 769px) {
  .panel-view .panel h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.panel-view .panel h3 {
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 769px) {
  .panel-view .panel h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

.panel-view .panel p,
.panel-view .panel li {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 769px) {
  .panel-view .panel p,
  .panel-view .panel li {
    font-size: 16px;
    line-height: 24px;
  }
}

footer[role="contact"] small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 80px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

@media (max-width: 769px) {
  nav {
    height: 56px;
    padding: 4px 16px;
    justify-content: space-between;
  }
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

@media (max-width: 769px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 8px 0px;
  }
}

nav ul li {
  display: inline-block;
  padding: 0 16px;
  white-space: nowrap;
  transition-property: width,max-width,padding,margin;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  max-width: 150px;
  overflow: hidden;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav input#search-button {
  display: none;
}

@media (min-width: 768px) {
  nav input#search-button:checked ~ label[for='search-button'] {
    padding-right: 16px;
  }
}

nav label[for='search-button'] {
  padding: 22px 16px;
  padding-right: 0;
  transition: padding-right 0.5s ease;
}

nav label[for='search-button'] img {
  display: block;
}

nav .search-box {
  display: flex;
  align-items: center;
  max-width: 450px;
  overflow: hidden;
  transition-property: width,max-width,padding,margin;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

nav .search-box input#search-input, nav .search-box label[for='search-input'] {
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  color: #FFFFFF;
}

nav .search-box input#search-input {
  background: transparent;
  border: none;
  outline: none;
  height: 36px;
  border-bottom: solid 2px #fff;
}

nav .search-box input#search-input::placeholder {
  color: white;
  opacity: 1;
}

nav .search-box input#search-input:-ms-input-placeholder {
  color: white;
}

nav .search-box input#search-input::-ms-input-placeholder {
  color: white;
}

nav .search-box input#search-input:focus::placeholder {
  color: transparent;
  opacity: 1;
}

nav .search-box input#search-input:focus:-ms-input-placeholder {
  color: transparent;
}

nav .search-box input#search-input:focus::-ms-input-placeholder {
  color: transparent;
}

nav .search-box .search-clear {
  display: block;
  padding: 22px 16px;
}

nav .search-box .search-clear img {
  display: block;
}

@media (max-width: 769px) {
  nav ul {
    display: none;
  }
  nav #mobile-hamburger:checked ~ ul {
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: unset;
    padding: 16px 0px;
    background-color: inherit;
  }
}

nav ul {
  order: 0;
}

nav input#search-button:checked ~ #mobile-hamburger:checked ~ ul {
  bottom: 200%;
}

@media (max-width: 769px) {
  nav.fixed-header .search-box {
    top: 100%;
    bottom: unset;
  }
}

nav.fixed-header input#search-button:checked ~ #mobile-hamburger:checked ~ ul {
  top: 200%;
  bottom: unset;
}

nav label[for='search-button'] {
  order: 1;
}

nav .search-box {
  order: 2;
}

nav .search-box .search-clear {
  padding-right: 0px;
}

@media (max-width: 769px) {
  nav .search-box {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding: 0px 16px;
    background-color: #333;
  }
}

@media (min-width: 768px) {
  nav input#search-button:checked ~ ul li:not(.active) {
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

nav input#search-button:not(:checked) ~ .search-box {
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 769px) {
  nav.fixed-header #mobile-hamburger:checked ~ ul {
    top: 100%;
    bottom: unset;
  }
}

nav .logo {
  margin-right: auto;
}

@media (min-width: 768px) {
  nav .logo {
    margin-left: 16px;
  }
}

@media (max-width: 769px) {
  nav .logo {
    margin-right: 0;
  }
}

nav #mobile-hamburger {
  display: none;
}

nav .hamburger img, nav .search img {
  display: block;
}

@media (min-width: 768px) {
  nav .hamburger, nav .search {
    display: none;
  }
}

nav.fixed-header {
  position: fixed;
  top: 0;
}

nav.nav-subpage {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: unset;
  top: 0;
}

nav.nav-subpage h1:not(.logo), nav.nav-subpage .panel-view .panel h2, .panel-view .panel nav.nav-subpage h2, nav.nav-subpage .panel-view .panel h3, .panel-view .panel nav.nav-subpage h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

nav.nav-subpage .panel-view .panel ul, .panel-view .panel nav.nav-subpage ul {
  padding-left: 1.25em;
  list-style-type: disc;
}

nav.nav-subpage h1:not(.logo) {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  nav.nav-subpage h1:not(.logo) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

nav.nav-subpage .panel-view .panel h2, .panel-view .panel nav.nav-subpage h2 {
  font-size: 44px;
  line-height: 48px;
}

@media (max-width: 769px) {
  nav.nav-subpage .panel-view .panel h2, .panel-view .panel nav.nav-subpage h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

nav.nav-subpage .panel-view .panel h3, .panel-view .panel nav.nav-subpage h3 {
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 769px) {
  nav.nav-subpage .panel-view .panel h3, .panel-view .panel nav.nav-subpage h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

nav.nav-subpage .panel-view .panel p, .panel-view .panel nav.nav-subpage p, nav.nav-subpage
.panel-view .panel li,
.panel-view .panel nav.nav-subpage li {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 769px) {
  nav.nav-subpage .panel-view .panel p, .panel-view .panel nav.nav-subpage p, nav.nav-subpage
  .panel-view .panel li,
  .panel-view .panel nav.nav-subpage li {
    font-size: 16px;
    line-height: 24px;
  }
}

nav.nav-subpage footer[role="contact"] small, footer[role="contact"] nav.nav-subpage small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

nav.nav-subpage .back {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

nav.nav-subpage .back:hover {
  color: #9B9B9B;
}

nav.nav-subpage .back .label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

nav.nav-subpage .back .arrow {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 4px;
}

nav.nav-subpage .back .label {
  margin-left: 16px;
}

@media (max-width: 769px) {
  nav.nav-subpage .back .label {
    display: none;
  }
}

nav.nav-subpage .back {
  margin-right: 64px;
}

@media (max-width: 769px) {
  nav.nav-subpage .back {
    margin-right: 24px;
  }
}

@media (min-width: 1920px) {
  nav.nav-subpage .back {
    margin-right: 72px;
  }
}

nav.nav-subpage .logo {
  margin-left: auto;
  margin-right: unset;
}

footer[role="contact"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 10vh;
  box-sizing: border-box;
}

footer[role="contact"] a.logo,
footer[role="contact"] img {
  display: inline-block;
  height: 40px;
}

footer[role="contact"] nav.nav-subpage h1:not(.logo), nav.nav-subpage footer[role="contact"] h1:not(.logo), footer[role="contact"] .panel-view .panel h2, .panel-view .panel footer[role="contact"] h2, footer[role="contact"] .panel-view .panel h3, .panel-view .panel footer[role="contact"] h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

footer[role="contact"] .panel-view .panel ul, .panel-view .panel footer[role="contact"] ul {
  padding-left: 1.25em;
  list-style-type: disc;
}

footer[role="contact"] nav.nav-subpage h1:not(.logo), nav.nav-subpage footer[role="contact"] h1:not(.logo) {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  footer[role="contact"] nav.nav-subpage h1:not(.logo), nav.nav-subpage footer[role="contact"] h1:not(.logo) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

footer[role="contact"] .panel-view .panel h2, .panel-view .panel footer[role="contact"] h2 {
  font-size: 44px;
  line-height: 48px;
}

@media (max-width: 769px) {
  footer[role="contact"] .panel-view .panel h2, .panel-view .panel footer[role="contact"] h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

footer[role="contact"] .panel-view .panel h3, .panel-view .panel footer[role="contact"] h3 {
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 769px) {
  footer[role="contact"] .panel-view .panel h3, .panel-view .panel footer[role="contact"] h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

footer[role="contact"] .panel-view .panel p, .panel-view .panel footer[role="contact"] p, footer[role="contact"]
.panel-view .panel li,
.panel-view .panel footer[role="contact"] li {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 769px) {
  footer[role="contact"] .panel-view .panel p, .panel-view .panel footer[role="contact"] p, footer[role="contact"]
  .panel-view .panel li,
  .panel-view .panel footer[role="contact"] li {
    font-size: 16px;
    line-height: 24px;
  }
}

footer[role="contact"] small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 769px) {
  footer[role="contact"] small {
    display: none;
  }
}

.panel-view {
  padding: 0;
  margin: 0;
}

.panel-view .panel {
  min-height: 80vh;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

@media (max-width: 769px) {
  .panel-view .panel {
    min-height: unset;
    overflow: unset;
    padding: 32px 16px 0px;
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .panel-view .panel {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .panel-view .panel:nth-child(odd) {
    padding-left: 44px;
    padding-right: calc(48px + 40vw);
  }
  .panel-view .panel:nth-child(even) {
    padding-left: calc(48px + 40vw);
    padding-right: 44px;
  }
}

@media (min-width: 1920px) {
  .panel-view .panel {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .panel-view .panel:nth-child(odd) {
    padding-left: 160px;
    padding-right: calc(80px + 40vw);
  }
  .panel-view .panel:nth-child(even) {
    padding-left: calc(80px + 40vw);
    padding-right: 160px;
  }
}

.panel-view .panel .app-stores {
  display: flex;
}

.panel-view .panel .app-stores .app-store-button {
  background: black;
  border-radius: 8px;
  overflow: hidden;
  display: inline-flex;
}

.panel-view .panel .app-stores .app-store-button img {
  display: block;
  height: 44px;
}

@media (max-width: 769px) {
  .panel-view .panel .app-stores .app-store-button img {
    height: 32px;
  }
}

.panel-view .panel .app-stores .app-store-button:not(:last-child) {
  margin-right: 34px;
}

@media (max-width: 769px) {
  .panel-view .panel .app-stores .app-store-button:not(:last-child) {
    margin-right: 24px;
  }
}

@media (min-width: 1920px) {
  .panel-view .panel .app-stores .app-store-button:not(:last-child) {
    margin-right: 44px;
  }
}

.panel-view .panel h2 {
  margin: 0px 0px 16px;
}

@media (max-width: 769px) {
  .panel-view .panel h2 {
    margin: 0px 0px 8px;
  }
}

.panel-view .panel h3 {
  margin: 16px 0px;
}

@media (max-width: 769px) {
  .panel-view .panel h3 {
    margin: 8px 0px;
  }
}

.panel-view .panel p {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 769px) {
  .panel-view .panel p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.panel-view .panel p:first-of-type {
  margin-top: 0px;
}

.panel-view .panel p:last-of-type {
  margin-bottom: 0px;
}

.panel-view .panel .app-stores {
  margin: 36px 52px;
}

@media (max-width: 769px) {
  .panel-view .panel .app-stores {
    margin: 16px 32px;
    justify-content: center;
  }
}

@media (min-width: 1920px) {
  .panel-view .panel .app-stores {
    margin: 36px 0px;
  }
}

.panel-view .panel .panel-image {
  display: block;
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
}

@media (min-width: 768px) {
  .panel-view .panel .panel-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40vw;
    max-height: 100%;
    margin: 0;
  }
}

.panel-view .panel:nth-child(even) .panel-image {
  right: unset;
  left: 0;
}

@media (max-width: 769px) {
  .panel-view .panel:nth-child(even) .panel-body, .panel-view .panel:nth-child(even) .panel-image {
    order: unset;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
}

@media (max-width: 769px) {
  body {
    padding-top: 56px;
  }
}

footer[role="contact"] {
  background-color: #333;
}

footer[role="contact"] small {
  color: #FFFFFF;
}

.qye-product-theme {
  color: #FFFFFF;
}

.qye-product-theme > *:nth-child(4n+1) {
  background-color: #422F5D;
}

.qye-product-theme > *:nth-child(4n+2) {
  background-color: #EB812E;
}

.qye-product-theme > *:nth-child(4n+3) {
  background-color: #0E8682;
}

.qye-product-theme > *:nth-child(4n) {
  background-color: #D62879;
}
