/* RESETS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

textarea,
input,
button {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
}

/* BASE */
html {
  font-size: x-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 2rem/32px Source Serif Pro, serif;
  font-weight: 300;
  color: #333333;
  background: #FAFAFA;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

a {
  transition: all 0.25s ease-in-out;
}

footer[role="contact"] h2 {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

nav.subpage h1, .panel-view .panel .body h2, .panel-view .panel .body h3, footer[role="contact"] nav.subpage h1, nav.subpage footer[role="contact"] h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

nav.subpage h1 {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  nav.subpage h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

.panel-view .panel .body h2 {
  font-size: 44px;
  line-height: 48px;
}

@media (max-width: 769px) {
  .panel-view .panel .body h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.panel-view .panel .body h3 {
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 769px) {
  .panel-view .panel .body h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

.panel-view .panel .body .detail-list {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 769px) {
  .panel-view .panel .body .detail-list {
    font-size: 16px;
    line-height: 24px;
  }
}

footer[role="contact"] small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 10vh;
  padding: 16px;
  box-sizing: border-box;
  color: #fff;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li:first-of-type {
  margin-right: auto;
}

nav li {
  display: inline-block;
  padding: 0 16px;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

nav .fixed-header {
  position: fixed;
  top: 0;
}

nav .logo {
  margin-right: auto;
}

nav.subpage {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: unset;
  top: 0;
}

nav.subpage h1, nav.subpage .panel-view .panel .body h2, .panel-view .panel .body nav.subpage h2, nav.subpage .panel-view .panel .body h3, .panel-view .panel .body nav.subpage h3, footer[role="contact"] nav.subpage h1, nav.subpage footer[role="contact"] h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

nav.subpage h1 {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  nav.subpage h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

nav.subpage .panel-view .panel .body h2, .panel-view .panel .body nav.subpage h2 {
  font-size: 44px;
  line-height: 48px;
}

@media (max-width: 769px) {
  nav.subpage .panel-view .panel .body h2, .panel-view .panel .body nav.subpage h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

nav.subpage .panel-view .panel .body h3, .panel-view .panel .body nav.subpage h3 {
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 769px) {
  nav.subpage .panel-view .panel .body h3, .panel-view .panel .body nav.subpage h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

nav.subpage .panel-view .panel .body .detail-list, .panel-view .panel .body nav.subpage .detail-list {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 769px) {
  nav.subpage .panel-view .panel .body .detail-list, .panel-view .panel .body nav.subpage .detail-list {
    font-size: 16px;
    line-height: 24px;
  }
}

nav.subpage footer[role="contact"] small, footer[role="contact"] nav.subpage small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

nav.subpage .back {
  display: flex;
  align-items: center;
  color: #fff;
}

nav.subpage .back:hover {
  color: #c1bfc1;
}

nav.subpage .back .label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

nav.subpage .back .arrow {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 4px;
}

nav.subpage .back .label {
  margin-left: 16px;
}

@media (max-width: 769px) {
  nav.subpage .back .label {
    display: none;
  }
}

nav.subpage .back {
  margin-right: 64px;
}

@media (max-width: 769px) {
  nav.subpage .back {
    margin-right: 24px;
  }
}

@media (min-width: 1920px) {
  nav.subpage .back {
    margin-right: 72px;
  }
}

nav.subpage .logo {
  margin-left: auto;
  margin-right: unset;
}

footer[role="contact"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 10vh;
  box-sizing: border-box;
}

footer[role="contact"] a.logo,
footer[role="contact"] img {
  display: inline-block;
  height: 40px;
}

footer[role="contact"] nav.subpage h1, nav.subpage footer[role="contact"] h1, footer[role="contact"] .panel-view .panel .body h2, .panel-view .panel .body footer[role="contact"] h2, footer[role="contact"] .panel-view .panel .body h3, .panel-view .panel .body footer[role="contact"] h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

footer[role="contact"] nav.subpage h1, nav.subpage footer[role="contact"] h1 {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0px;
  border-bottom: solid 2px #12B4BA;
}

@media (max-width: 769px) {
  footer[role="contact"] nav.subpage h1, nav.subpage footer[role="contact"] h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px;
    border-bottom-width: 1px;
  }
}

footer[role="contact"] .panel-view .panel .body h2, .panel-view .panel .body footer[role="contact"] h2 {
  font-size: 44px;
  line-height: 48px;
}

@media (max-width: 769px) {
  footer[role="contact"] .panel-view .panel .body h2, .panel-view .panel .body footer[role="contact"] h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

footer[role="contact"] .panel-view .panel .body h3, .panel-view .panel .body footer[role="contact"] h3 {
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 769px) {
  footer[role="contact"] .panel-view .panel .body h3, .panel-view .panel .body footer[role="contact"] h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

footer[role="contact"] .panel-view .panel .body .detail-list, .panel-view .panel .body footer[role="contact"] .detail-list {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 769px) {
  footer[role="contact"] .panel-view .panel .body .detail-list, .panel-view .panel .body footer[role="contact"] .detail-list {
    font-size: 16px;
    line-height: 24px;
  }
}

footer[role="contact"] small {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 769px) {
  footer[role="contact"] small {
    display: none;
  }
}

.panel-view {
  padding: 0;
  margin: 0;
}

.panel-view .panel {
  display: flex;
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

@media (max-width: 769px) {
  .panel-view .panel {
    flex-direction: column;
    height: unset;
    overflow: unset;
    align-items: center;
  }
}

.panel-view .panel > * {
  display: flex;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
}

.panel-view .panel .body {
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 769px) {
  .panel-view .panel .body {
    padding: 32px 16px 0px;
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .panel-view .panel .body {
    padding: 0px 44px 0px;
  }
}

@media (min-width: 1920px) {
  .panel-view .panel .body {
    padding: 0px 160px 0px;
  }
}

.panel-view .panel .body .app-stores {
  display: flex;
}

.panel-view .panel .body .app-stores li {
  background: black;
  border-radius: 8px;
  overflow: hidden;
  display: inline-flex;
}

.panel-view .panel .body .app-stores li img {
  display: block;
  height: 44px;
}

@media (max-width: 769px) {
  .panel-view .panel .body .app-stores li img {
    height: 32px;
  }
}

.panel-view .panel .body .app-stores li:not(:last-child) {
  margin-right: 34px;
}

@media (max-width: 769px) {
  .panel-view .panel .body .app-stores li:not(:last-child) {
    margin-right: 24px;
  }
}

@media (min-width: 1920px) {
  .panel-view .panel .body .app-stores li:not(:last-child) {
    margin-right: 44px;
  }
}

.panel-view .panel .body .detail-list {
  padding: 0;
}

.panel-view .panel .body .detail-list > li:not(:first-child) {
  margin-top: 16px;
}

@media (max-width: 769px) {
  .panel-view .panel .body .detail-list > li:not(:first-child) {
    margin-top: 8px;
  }
}

.panel-view .panel .body .detail-list > li:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 769px) {
  .panel-view .panel .body .detail-list > li:not(:last-child) {
    margin-bottom: 8px;
  }
}

.panel-view .panel .body .detail-list > li ul {
  padding-left: 1.25em;
  list-style-type: disc;
}

.panel-view .panel .body h2 {
  margin: 0px 0px 16px;
}

@media (max-width: 769px) {
  .panel-view .panel .body h2 {
    margin: 0px 0px 8px;
  }
}

.panel-view .panel .body h3 {
  margin: 16px 0px;
}

@media (max-width: 769px) {
  .panel-view .panel .body h3 {
    margin: 8px 0px;
  }
}

.panel-view .panel .body .app-stores {
  margin: 36px 52px;
}

@media (max-width: 769px) {
  .panel-view .panel .body .app-stores {
    margin: 16px 32px;
    justify-content: center;
  }
}

@media (min-width: 1920px) {
  .panel-view .panel .body .app-stores {
    margin: 36px 0px;
  }
}

@media (max-width: 769px) {
  .panel-view .panel .body .detail-list {
    margin-top: 8px;
  }
}

.panel-view .panel > .image-holder {
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 769px) {
  .panel-view .panel > .image-holder {
    align-items: flex-start;
  }
}

.panel-view .panel > .image-holder img {
  max-height: 100%;
  max-width: 100%;
  display: inline;
}

.panel-view .panel > .body {
  width: 60vw;
}

@media (max-width: 769px) {
  .panel-view .panel > .body {
    width: 100%;
  }
}

.panel-view .panel > .image-holder {
  width: 40vw;
  height: 100%;
}

@media (max-width: 769px) {
  .panel-view .panel > .image-holder {
    max-height: 50vh;
  }
}

.panel-view .panel:nth-child(even) > .body {
  order: 1;
}

.panel-view .panel:nth-child(even) > .image-holder {
  order: 0;
}

@media (max-width: 769px) {
  .panel-view .panel:nth-child(even) .body, .panel-view .panel:nth-child(even) .image-holder {
    order: unset;
  }
}

.panel-view .panel .body {
  width: 60vw;
  justify-content: center;
}

@media (max-width: 769px) {
  .panel-view .panel .body {
    padding: 32px 16px 0px;
    width: 100%;
  }
}

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 10vh;
}

footer[role="contact"] {
  background: #333;
}

footer[role="contact"] small {
  color: #FFFFFF;
}

.qye-product-theme {
  color: #fff;
}

.qye-product-theme > *:nth-child(4n+1) {
  background-color: #422F5D;
}

.qye-product-theme > *:nth-child(4n+2) {
  background-color: #EB812E;
}

.qye-product-theme > *:nth-child(4n+3) {
  background-color: #0E8682;
}

.qye-product-theme > *:nth-child(4n+4) {
  background-color: #D62879;
}
