@import 'helpers';

html, body {  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    height: 80px;
    background-color: #333333;
    color: white;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

header[role="banner"] {
    height: calc(100% - 80px);
    width: 100%;
    margin-bottom: 80px;

    h2 { @extend %hidden; }

    ul[aria-label="A short list of featured articles"] {
        height: 100%;
        width: 400%;

        li {
            display: inline-block;
            position: relative;
            // left: 0;
            height: 100%;
            width: 25%;
        }
    }

    figure {
        display: block;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 80px;
            left: 0;
            height: 100%;
            width: auto;
            min-width: 100%;
            z-index: -1;
        }
    }

    article {
        background: white;
        padding: 32px;
    }

    li {}
}

.fixed-header {
    position: fixed;
    top: 0;
}