@import 'helpers';

html, body {  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: calc(80px - 32px);
    padding: 16px;
    color: white;
    background-color: #333333;

    li {
        display: inline-block;
    }
}

.fixed-header {
    position: fixed;
    top: 0;;
}

:not(section) ul { 
    padding: 0;
    margin: 0; 
}



#home > article { 
    height: calc(100% - 80px);
    width: 100%;

    h2 { @extend %hidden; }

}

ul[aria-label="featured"] {
    width: 400%;
    height: 100%;
    padding-bottom: 80px;

    li {
        display: inline-block;
        height: 100%;
        width: 25%;

        &:not(:target) article {
            display: none;
        }

        &:target {
            animation: slide-up 0.5s ease-in-out 0.25s both;
        }            
    }

    figure { height: 100%; }

    h3 {
        font-size: 4.4rem;
        line-height: 48px;
        margin: 25% 12.5% 0;
    }

    p {
        font-size: 2.4rem;
        line-height: 36px;
    }

    a {
        background-color: #12B4BA;
        padding: 16px 32px;
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 24px;
        border-radius: 4px;
        font-weight: bold;
    }
}

ul[aria-label="filterable"] {

    article {
        width: calc(40% - 32px);
        float: left;
        padding: 128px 16px 16px;

        h3 {
            font-size: 3.2rem;
            line-height: 40px;
        }
    }
    
    li {
        width: 100%;
        display: inline-block;
    }

    figure {
        float: left;
        width: 60%;
        height: 640px;
        padding: 0;
        margin: 0;
        background: grey;
    }

    li:nth-of-type(2n+0) figure {
        float: right;
    }

    figcaption {
        visibility: hidden;
    }

}

@keyframes slide-up {

    0% { transform: translateY(0); }
    
    100% { transform: translateY(-100%); }

}
