@import 'helpers';

html, body {  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: calc(80px - 32px);
    padding: 16px;
    color: white;
    background-color: #333333;

    ul {
        display: flex;
        align-items: center;
    }

    li {
        display: inline-block;
        padding: 0 16px;
        border-bottom: solid 2px #333333;
    }

    li:hover {
        border-bottom: solid 2px #12B4BA;
    }

    li:first-of-type {
        margin-right: auto;
    }

    li:first-of-type:hover {
        border: 0;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

}

.fixed-header {
    position: fixed;
    top: 0;;
}

:not(section) ul { 
    padding: 0;
    margin: 0; 
}

#home > article { 
    height: calc(100% - 80px);
    width: 100%;

    h2 { @extend %hidden; }

}

ul[aria-label="featured"] {
    width: 400%;
    height: 100%;
    padding-bottom: 80px;

    li {
        display: inline-block;
        height: 100%;
        width: 25%;

        &:not(:target) article {
            display: none;
        }

        &:target {
            animation: slide-up 0.5s ease-in-out 0.25s both;
        }            
    }

    figure { 
        margin: 0;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: 0;
        color: #fff;
        background: #000;
        z-index: 0;

        img {
            position: absolute;
            height: auto;
            top: 0;
            min-height:100%;
            min-width:100%;
            width:auto;
            height:auto;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            opacity: 0.7;
        }

    }

    figcaption {
        padding-top: calc((100vh - 80px) - 75vh);
        padding-left: 12.5%;
        padding-right: 25%;
        z-index: 2;
        
    }

    article {
        padding-top: calc((100vh - 80px) - 75vh);
        padding-left: 12.5%;
        padding-right: 25%;
    }

    h3 {
        font-size: 4.4rem;
        line-height: 48px;
    }

    p {
        font-size: 2.4rem;
        line-height: 36px;
    }

    a {
        background-color: #12B4BA;
        padding: 16px 32px;
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 24px;
        border-radius: 4px;
        font-weight: bold;
    }
}

ul[aria-label="filterable"] {

    article {
        width: calc(40% - 32px);
        padding: 128px 16px 16px;
        max-height: calc(640px - 144px);
        position: relative;

        h3 {
            font-size: 3.2rem;
            line-height: 40px;
        }
    }
    
    li {
        width: 100%;
        display: flex;
        height: auto;
    }

    figure {
        position: relative;
        width: 60%;
        height: 640px;
        overflow: hidden;
        margin: 0;

        img {
            position: absolute;
            height: auto;
            top: 0;
            min-height:100%;
            min-width:100%;
            width:auto;
            height:auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }


    li:nth-of-type(2n+0) {
        flex-direction: row-reverse;
    }

    figcaption {
        visibility: hidden;
        position: absolute;
    }

    footer {
        font-size: 1.6rem;

        a {
            position: absolute;
            bottom: 0;
        }
    }

    a {
        text-decoration: none;
    }

}

@keyframes slide-up {

    0% { transform: translateY(0); }
    
    100% { transform: translateY(-100%); }

}
