figure {
    margin: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #fff;
    background: #333333;
    z-index: 0;
}

img {
    position: absolute;
    height: auto;
    top: 0;
    min-height:100%;
    min-width:100%;
    width:auto;
    height:auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.28;
}

figcaption {
    padding: calc((100vh - 80px) - 75vh) 16px 0;
    z-index: 2;
    display: flex;
    flex-direction: column;

    @include medium-screen-all  {
        padding: calc((100vh - 80px) - 75vh) 12.5% 0;
    }
}

p {
    margin: 32px auto;
    font-size: 20px;
    line-height: 30px;


    @include medium-screen-all  {
        width: 640px;
        font-size: 24px;
        line-height: 36px;
    }
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Source Sans Pro', serif;

    @include medium-screen-all  {
        margin: 44px 0;
        font-size: 44px;
        line-height: 48px;
    }
}

[role="button"] {
    padding: 16px 32px;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 16px 32px;
    background: #12B4BA;
    text-decoration: none;
    @include font(16px, 24px, #fff);
    font-family: 'Source Sans Pro', serif;
    font-weight: 600;
    border-radius: 5px;
}

header {
    padding: 24px 0;
    border-bottom: solid 1px $color-background-dark;
    position: relative;
    margin-top: auto;
    width: 272px;
}

.category {
    @include font($font-small, 25px, $color-background-light);
    text-decoration: none;
    font-family: $font-family;
    font-weight: $font-bold;
    color: $color-background-light;
    display: block;
    position: absolute;
    left: 0;
    border-bottom: solid 1px $color-background-light;
    bottom: -1px;
    padding-right: 16px;
}


