figure {

    position: relative;
    width: 60%;
    height: 640px;
    overflow: hidden;
    margin: 0;
    display: inline-block;

    @import '../2-atoms/img';

    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);


    }

    figcaption {
        display: none;
    }
}

@import '../2-atoms/figcaption';

