.fig-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    position: relative;

    @include medium-screen-all  {
        width: 40%;
    }

    p {
        margin: 16px 24px;

        @include medium-screen-all  {
            margin: 4px 16px 24px;
        }
    }

    h3 {
        display: none;
        margin: 128px 16px 0;

        @include medium-screen-all  {
            display: block;
        }
    }

    .more {
        @include font($font-small, 25px, $color-action);
        padding: 24px 16px;
        text-decoration: none;
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: $font-bold;    
        display: block;
        margin-left: auto;

        &:hover {
            color: $color-action-active;
        }
    }

    // footer {
    //     padding: 24px 0;
    //     margin: auto 16px 24px;
    //     border-bottom: solid 1px #BDBDBD;
    //     position: relative;
    //     margin-top: auto;
    //     margin-bottom: 24px;
    //     display: none;

    //     @include medium-screen-all  {
    //         display: block;
    //     }
    // }

    // .category {
    //     @include font($font-small, 25px, #bdbdbd);
    //     text-decoration: none;
    //     font-family: $font-family;
    //     text-transform: uppercase;
    //     font-weight: $font-bold;
    //     display: none;

    //     span {
    //         color: $darkgray;
    //     }

    //     @include medium-screen-all {
    //         position: absolute;
    //         left: 0;
    //         border-bottom: solid 1px $darkgray;
    //         bottom: -1px;
    //         padding-right: 16px;
    //         display: block;
    //     }
    // }
}