// NAV-BACK

// Back button shown in subpage nav

@import '../1-base/1.b-tools/mixins';

.back {
    display: flex;
    align-items: center;
    color: $color-text-inverse;

    &:hover {
        color: $color-text-light;
    }

    @import '../2-atoms/nav-back-label';
    @import '../2-atoms/nav-back-arrow';

    .label {
        margin-left: 16px;
    }

    @include small-screen {
        .label {
            display: none;
        }
    }
}