ul {
    display: flex;
    height: 100%;;
    align-items: center;
    justify-content: flex-end; // Align right
    margin: 0;
    padding: 0;

    @include small-screen {
        flex-direction: column;
        align-items: flex-start;

        li {
            margin: 8px 0px;
        }
    }

    @include medium-screen-all {
        li {
            height: 100%;

            a {
                height: 100%;
                box-sizing: border-box;
            }
        }
    }

    @import '../2-atoms/nav-item';
}
