// NAV-BACK

// Back button shown in subpage nav

@import '../1-base/1.b-tools/mixins';

.back {
    display: flex;
    align-items: center;
    padding: 0px 24px;
    
    color: $color-text-inverse;
    cursor: pointer;
    user-select: none;

    @import '../2-atoms/nav-back-label';
    @import '../2-atoms/nav-back-arrow';

    .material-icons {
        vertical-align: middle;
    }

    .label {
        margin-left: 16px;
    }

    @include small-screen {
        padding: 0px 12px;

        .label {
            display: none;
        }
    }
}