ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    @include small-screen {
        flex-direction: column;

        li:first-of-type {
            display: none;
        }

        li {
            margin: 8px 0px;
        }
    }

    li:first-of-type {
        * {
            @extend %no-webkit-margin-padding;
        }
        margin-right: auto;
    }

    @import '../2-atoms/nav-item';
}

