@import '../1-base/1.b-tools/mixins';

.panel-image-holder {
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;

    @include small-screen {
        align-items: flex-start;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        display: block;
    }
}