// PANEL

// - 80% vp-height panel for use in panel-views,
//       contains a text block, and an image div,
//       on alternating sides.

.panel {
    display: flex;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    overflow: hidden;

    // Switch to vertical arrangement (text, then image)
    //     for small screens
    @include small-screen {
        flex-direction: column;
        min-height: unset;
        overflow: unset;
        align-items: center;
    }

    >* {
        display: flex;
        height: 100%;
        vertical-align: top;
        box-sizing: border-box;
    }

    @import 'panel-body';
    @import 'panel-image-holder';

    .panel-body {
        min-width: 60vw;
        justify-content: center;
        align-self: center;

        @include small-screen {
            padding: 32px 16px 0px;
            width: 100%;
        }
    }

    .panel-image-holder {
        min-width: 40vw;
        height: 100%;
        align-self: flex-end;

        @include small-screen {
            max-height: 50vh;
            align-self: center;
        }
    }

    &:nth-child(even) {
        >.panel-body {
            order: 1;
        }
        .panel-image-holder {
            order: 0;
        }

        @include small-screen {
            .panel-body, .panel-image-holder {
                order: unset;
            }
        }
    }
}
