// PANEL

// - 80% vp-height panel for use in panel-views,
//       contains a text block, and an image div,
//       on alternating sides.

.panel {
    min-height: 80vh;
    width: 100%;

    display: block;
    position: relative;

    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;

    // For arranging body around absoluted large image
    @mixin alternating-padding($vertical-padding, $horizontal-padding) {
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;

        $larger-padding: calc(#{$vertical-padding} + 40vw);

        &:nth-child(odd) {
            padding-left: $horizontal-padding;
            padding-right: $larger-padding;
        }

        &:nth-child(even) {
            padding-left: $larger-padding;
            padding-right: $horizontal-padding;
        }
    }

    @include small-screen {
        min-height: unset;
        overflow: unset;

        // Must have 0-bottom to make image sit on edge
        padding: 32px 16px 0px;

        > :not(.panel-image) {
            max-width: 440px;
        }
    }

    @include medium-screen {
        @include alternating-padding(48px, 44px);
        // padding: 48px 44px;
    }

    @include big-screen {
        @include alternating-padding(80px, 160px);
        // padding: 80px 160px;
    }
    
    @import '../3-molecules/app-store-list';

    h2 {
        margin: 0px 0px 16px;

        @include small-screen {
            margin: 0px 0px 8px;
        }
    }

    h3 {
        margin: 16px 0px;

        @include small-screen {
            margin: 8px 0px;
        }
    }

    p {
        margin-top: 16px;
        margin-bottom: 16px;

        @include small-screen {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        &:first-of-type {
            margin-top: 0px;
        }

        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    ul {
        @extend %list-normal;
    }

    .app-stores {
        margin: {
            top: 36px;
            bottom: 36px;
            left: 52px;
            right: 0px
        }

        @include small-screen {
            margin: {
                top: 16px;
                bottom: 16px;
                left: 32px;
                right: 0px;
            }
            
            justify-content: center;
        }

        @include big-screen {
            margin: 36px 0px;
        }
    }

    .panel-image {
        display: block;
        max-width: 100%;
        max-height: 50vh;

        // Keep the image horizontally centered
        margin: auto;

        @include medium-screen-all {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 40vw;
            min-height: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: bottom;

            margin: 0;
        }
    }

    &:nth-child(even) {
        .panel-image {
            right: unset;
            left: 0;
        }

        @include small-screen {
            .panel-body, .panel-image {
                order: unset;
            }
        }
    }
}
