.detail-list {
    padding: 0;

    >li {
        &:not(:first-child) {
            margin-top: 16px;

            @include small-screen {
                margin-top: 8px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;

            @include small-screen {
                margin-bottom: 8px;
            }
        }

        ul {
            @extend %list-normal;
        }
    }
}