&.heading {
    margin-bottom: $bl-4;

    h2 { @extend %hide; }

    @include font($font-medium,$bl-4,$color-text);
    font-weight: $font-light;
    max-width: $line-max-heading;
    margin: 0 auto;

    @include medium-screen-all {
        @include font($font-heading,$bl-1*4.5);
    }

    @media screen and (min-width: $bp-large) {
        transform: translateX(-(($line-max-heading - $line-max-copy) / 2));
    }
    
    p {
        &:first-of-type {
            
            &::first-letter {
                @include font($font-block,0.8,$color-brand);
                float: left;
                margin: 0 $bl-1 0 0;
                vertical-align: text-top;

                @media screen and (min-width: $bp-medium) {
                    @include font(13rem,0.9);
                    margin: 0 $bl-2 -#{$bl-2} 0;

                    @-moz-document url-prefix() { 
                        margin: ($bl-1 * 1.5) $bl-2 0 0;
                    }
                }
            }
        }
    }
}
