li {

    display: inline-block;
    padding: 0 16px;
    border-bottom: solid 2px $bg-color;

    &:hover {
        border-bottom: solid 2px #12B4BA;
    }

    &:first-of-type {
        margin-right: auto;
    }

    &:first-of-type:hover {
        border-bottom-color: $bg-color;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}
