@import '../1-base/1.a-settings/color';

$bg-color: $darkgray;

li {

    display: inline-block;
    padding: 0 16px;
    border-bottom: solid 2px $bg-color;

    &:hover {
        border-bottom: solid 2px #12B4BA;
    }

    &.logo {
        margin-right: auto;

        &:hover {
            border-bottom-color: $bg-color;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}
