li {

    display: inline-block;
    padding: {
        top: 0px;
        bottom: 0px;
        right: 16px;
        left: 0px;
    }
    white-space: nowrap;
    user-select: none;

    @include medium-screen-all {
        padding-left: 16px;

        // For animation
        max-width: 150px;
        overflow: hidden;

        transition: {
            property: width,max-width,padding,margin;
            duration: 0.5s;
            timing-function: ease;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}
