input#search-button {
    display: none; // Not rendered ever, label acts as input

    &:checked {
        ~label[for='search-button'] {
            @include medium-screen-all {
                padding-right: 16px;
            }
        }
    }
}

label[for='search-button'] {
    padding: 22px 16px;
    padding-right: 0;

    .material-icons {
        vertical-align: middle;
    }

    transition: padding-right 0.5s ease;

    img {
        display: block;
    }
}
