#{$mobile-menu-input} {
    display: none; // Not rendered ever, label acts as input

    &:checked {
        ~#{$mobile-menu-label} {
            .material-icons {
                transform: rotateZ(180deg);
            }
        }
    }

    &:not(:checked) {
        ~#{$mobile-menu-label} {
            .material-icons {
                transform: rotateZ(0deg);
            }
        }
    }
}

#{$mobile-menu-label} {
    cursor: pointer;
    user-select: none;

    img {
        display: block;
    }

    .material-icons {
        vertical-align: middle;
        transition: transform 0.2s ease;
    }
}
