li.tag {
    margin: 0 $bl-2 $bl-2 0;
    display: inline-block;

    a {
        @include font($font-small,$bl-3,$color-action);

        display: block;
        font-family: $font-family;
        text-decoration: none;
        padding: $bl-1 $bl-2;
    }

}