aside.related {
    padding: $bl-4 $bl-2;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: $bp-medium;
        margin: 0 auto;

        @media screen and (min-width: $bp-medium) {
            flex-wrap: nowrap;
        }

    }
        
    h2 {
        @include font($font-heading,$bl-4);
        font-family: $font-family;
        max-width: $line-max-copy;
        margin: 0 auto $bl-4 auto;    
    }

    @import '../3-molecules/card-content';
    @import '../3-molecules/card-video';

}