footer.content {
    display: flex;
    max-width: $line-max-copy;
    margin: 0 auto $bl-4 auto;

    // Tags
    ul {
        margin: 0;
        padding: 0;
        @import '../3-molecules/list-tag';
    }
}
