header[role="banner"] {
    position: relative;
    overflow: hidden;

    @import '../2-atoms/banner';

    &.video {
        overflow: hidden;
        padding-bottom: 56.25%;
        margin: 0;
        position: relative;
        height: 0;
        background: #333333;

        @media screen and (min-width: 1024px) {
            padding-bottom: 41.55%;
        }

        @import '../2-atoms/video';
    }
}