> article > header {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    overflow-x: hidden;

    ul[aria-label="featured"] {

        width: 200%;
        height: 100%;
        -webkit-animation:slide 30s infinite;
        -moz-animation:slide 30s infinite;
        animation:slide 30s infinite;

        @include small-screen {
            padding-bottom: 56px;
        }

        @import '../3-molecules/feature-image';

        li {
            display: inline-block;
            height: 100%;
            width: 50%;

            &:not(:target) article {
                display: none;
            }

            &:target {
                animation: slide-up 0.5s ease-in-out 0.25s both;
            }            
        }
    }
}


/* Animation */
@-webkit-keyframes slide{


  }
