ul[aria-label="filterable"] {

    margin: 0;
    padding: 0;

    article {
        display: none;
    }

    li {
        width: 100%;
        height: auto;
    }

    @import '../2-atoms/figure';

    figure {
        @include medium-screen-all {
            display: flex;
        }

        @import '../3-molecules/fig-image';
        @import '../3-molecules/fig-content';
    }
    
    // li:nth-of-type(2n+0) {
    //     flex-direction: row-reverse;
    // }
    

}



