ul[aria-label="filterable"] {

    margin: 0;
    padding: 0;

    article {
        display: none;
    }

    @import '../2-atoms/figure';

    li {
        display: block;
        width: 100%;
        height: auto;

        figure {
            @include medium-screen-all {
                display: flex;
                flex-direction: row;
            }
    
            @import '../3-molecules/fig-image';
            @import '../3-molecules/fig-content';
        }
    
        @include medium-screen-all {
            &:nth-child(even) {
                figure {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}



