ul[aria-label="filterable"] {

    margin: 0;
    padding: 0;

    article {
        display: none;
    }

    @import '../2-atoms/figure';

    li {
        display: block;
        width: 100%;
        height: auto;

        figure {
            @include medium-screen-all {
                display: flex;
                flex-direction: row;
            }

            @import '../3-molecules/fig-image';
            @import '../3-molecules/fig-content';
        }

        @include medium-screen-all {
            &:nth-child(even) {
                figure {
                    flex-direction: row-reverse;
                }
            }
        }    
    }

    a.filter:not(:target) ~ li { display: block; }

    a.filter:target ~ li { display: none; }
    
    a.filter[id="perspective"]:target ~ li[data-tag*="perspective"] { display: block; } 
    
    a.filter[id="project"]:target ~ li[data-tag*="project"] { display: block; } 
    
    a.filter[id="product"]:target ~ li[data-tag*="product"] { display: block; } 
    
    a.filter[id="all"]:target ~ li[data-tag*="all"] { display: block; } 
    
}