@import '../1-base/1.a-settings/color';

nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 80px;
    padding: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    color: $color-text-inverse;
    background-color: $color-background-darkest;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);

    @include small-screen {
        height: 56px;
        padding: 4px 16px;
        justify-content: space-between;
    }
    
    @import '../2-atoms/nav-logo';
    @import '../2-atoms/nav-menu-button';
    @import '../3-molecules/nav-list';
    @import '../3-molecules/nav-search';

    .logo {
        @include medium-screen-all {
            margin-left: 16px;
            margin-right: auto;
        }
    }
    
    .menu {
        display: flex;
        flex-direction: row;

        @include small-screen {
            display: none; // While toggle not checked

            flex-direction: column;
            align-items: flex-start;

            position: absolute;
            bottom: 100%;
            left: 40%;
            right: 0;
            height: unset; // Expand with content
    
            padding: 16px 0px;
            padding-left: 16px;
    
            background-color: $color-background-darkest;
        }

        // Make menu full-width for small mobiles,
        //     or search box overflows
        @media (max-width: 480px) {
            left: 0;
        }

        ul {
            order: 0;
        }
    }

    #{$search-toggle-label} {
        @include small-screen {
            display: none; // As search is permanently in mobile menu
        }
        
        @include medium-screen-all {
            order: 1;
        }
    }

    .search-box {
        order: 2;

        .search-clear {
            // Nav has padding, don't need this when on the end
            padding-right: 0px;

            @include small-screen {
                // Padding makes unnecessary space in stacked view
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }

    &.fixed-header {
        position: fixed;
        top: 0;

        @include small-screen {
            .menu {
                top: 100%;
                bottom: unset;
            }

            #{$mobile-menu-input}:checked~ul {
                top: 100%;
                bottom: unset;
            }
        }
    }

    #{$search-toggle-input} {
        @include medium-screen-all {
            &:checked {
                ~ ul li:not(.active) {
                    transition-duration: 0.2s;
                    transition-delay: 0s;

                    max-width: 0;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 0;
                    margin-right: 0;
                }

                ~.search-box {
                    transition-duration: 0.3s;
                    transition-delay: 0.2s;
                }
            }
            
            &:not(:checked) {
                ~ ul li:not(.active) {
                    transition-duration: 0.3s;
                    transition-delay: 0.2s;
                }
                ~.search-box {
                    transition-duration: 0.2s;
                    transition-delay: 0s;

                    max-width: 0;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    #{$mobile-menu-input} {
        &:checked {

            @include small-screen {
                ~.menu {
                    display: flex;
                }
            }
        }
        }

    #{$mobile-menu-label} {
        @include medium-screen-all {
            display: none;
        }
    }

    &.nav-subpage {
        display: flex;
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: unset;
        top: 0;

        @import '../3-molecules/nav-subpage-title';
        @import '../3-molecules/nav-back';

        .back {
            margin-right: 24px;
            
            @include medium-screen {
                margin-right: 64px;
            }

            @include big-screen {
                margin-right: 72px;
            }
        }

        .logo {
            margin-left: auto;
            margin-right: unset;
        }
    }
}