nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: calc(80px - 32px);
    padding: 16px;

    .fixed-header {
        position: fixed;
        top: 0;;
    }

    @import '../3-molecules/nav-list';
}