@import '../1-base/1.a-settings/color';

nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 10vh;
    padding: 16px;
    box-sizing: border-box;

    color: $white;
    background-color: $darkgray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    
    @import '../3-molecules/nav-list';

    .fixed-header {
        position: fixed;
        top: 0;
    }

    .logo {
        margin-right: auto;
    }

    &.subpage {
        display: flex;
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: unset;
        top: 0;

        @import '../3-molecules/nav-subpage-title';
        @import '../3-molecules/nav-back';

        .back {
            margin-right: 64px;

            @include small-screen {
                margin-right: 24px;
            }

            @include big-screen {
                margin-right: 72px;
            }
        }

        .logo {
            margin-left: auto;
            margin-right: unset;
        }
    }
}