@import '../1-base/1.a-settings/color';

nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 80px;
    padding: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    color: $color-text-inverse;
    background-color: $color-background-darkest;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);

    @include small-screen {
        height: 56px;
        padding: 4px 16px;
        justify-content: space-between;
    }

    $hamburger-input: '#mobile-hamburger';
    $hamburger-label: '.hamburger';
    
    @import '../3-molecules/nav-logo';
    @import '../3-molecules/nav-list';
    @import '../3-molecules/nav-search';

    @include nav-list-hamburger-style($hamburger-input);

    ul {
        order: 0;
    }

    input#search-button:checked~#{$hamburger-input}:checked~ul {
        bottom: 200%;
    }

    &.fixed-header {
        @include small-screen {
            .search-box {
                top: 100%;
                bottom: unset;
            }
        }

        input#search-button:checked~#{$hamburger-input}:checked~ul {
            top: 200%;
            bottom: unset;
        }
    }

    label[for='search-button'] {
        order: 1;
    }

    .search-box {
        order: 2;

        .search-clear {
            // Nav has padding, don't need this when on the end
            padding-right: 0px;
        }

        @include small-screen {
            position: absolute;
            // left: 0;
            right: 0;
            bottom: 100%;
            width: 100%;
            max-width: 100%;
            height: 100%;

            justify-content: flex-end;
            padding: 0px 16px;

            background-color: $color-background-darkest;
        }
    }

    input#search-button {
        &:checked {
            ~ul {
                @include medium-screen-all {
                    li:not(.active) {
                        max-width: 0;
                        padding-left: 0;
                        padding-right: 0;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }

        &:not(:checked) {
            ~.search-box {
                max-width: 0;
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &.fixed-header {
        @include small-screen {
            #{$hamburger-input}:checked~ul {
                top: 100%;
                bottom: unset;
            }
        }
    }

    .logo {
        margin-right: auto;

        @include medium-screen-all {
            margin-left: 16px;
        }
    }

    @include small-screen {
        .logo {
            margin-right: 0;
        }

        #{$hamburger-label} {
            // position: absolute;
            // top: 50%;
            // left: 50%;

            // transform: translate(-50%, -50%);
        }

        .search {
            // position: absolute;
            // top: 50%;
            // right: 16px;

            // transform: translateY(-50%);

            // margin-left: auto;
        }

    }
    .logo {
        @extend %no-webkit-margin-padding;
    }

    #{$hamburger-input} {
        display: none; // Not rendered ever, label acts as input
    }

    #{$hamburger-label}, .search {
        img {
            display: block;
        }

        @include medium-screen-all {
            display: none;
        }
    }

    &.fixed-header {
        position: fixed;
        top: 0;
    }

    &.nav-subpage {
        display: flex;
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: unset;
        top: 0;

        @import '../3-molecules/nav-subpage-title';
        @import '../3-molecules/nav-back';

        .back {
            margin-right: 64px;

            @include small-screen {
                margin-right: 24px;
            }

            @include big-screen {
                margin-right: 72px;
            }
        }

        .logo {
            margin-left: auto;
            margin-right: unset;
        }
    }
}