section.content {
    // padding: $bl-2;
    margin-top: $bl-2;
    padding: 0 $bl-2;

    @import '../2-atoms/copy';
    @import '../2-atoms/article-img';
    

    &.copy {
        position: relative;
        max-width: $line-max-copy;
        margin: {
            bottom: 0;
            right: auto;
            left: auto;
        }
        @include font($font-small,$bl-3);
    
        @include medium-screen-all {
            @include font($font-medium,$bl-4);
        }

        @media screen and (min-width: $bp-medium) and (max-width: 844px) {
            margin: 0 0 $bl-4 auto;
        }

        h2 {
            
            @include font(24px, 36px);
            font-weight: $font-regular;

            @include small-screen {
                @include font(20px, 30px);
            }
        }

        p {
            margin: 0;
        }

        ul {
            padding: 0;

            li {
                margin-left: 1em;
            }
        }

        h2, p, ul, ol {
            +p, +h2 {
                margin-top: $bl-4;
            }
        }

        p+ul {
            margin-top: 0;
        }

        .toggle {
            display: block;
            padding: 0;
            margin: 0;
            max-width: 640px;
            margin: {
                top: 0;
                bottom: 32px;
                right: auto;
                left: auto;
            }

            li {
                display: inline-block;
                width: 50%;
                text-align: center;

                margin-left: 0;

                + li + li {
                    width: 100%;
                    text-align: left;
                    margin-top: $bl-4;
                    height: ($bl-10 * 2);
                    overflow: auto;
                }
            }

            input[type="radio"] {
                display: none;

                &:not(:checked) ~ li[class] { display: none; }

                &#about:checked {

                    ~ li  {

                        [for="about"] {
                            font-weight: bold;
                            padding-bottom: $bl-1 / 2;
                            border-bottom: ($bl-1 / 4) solid $color-brand;
                        }

                        &.about { display: block; }
                    }
                }

                &#transcript:checked {

                    ~ li  {

                        [for="transcript"] {
                            font-weight: bold;
                            padding-bottom: $bl-1 / 2;
                            border-bottom: ($bl-1 / 4) solid $color-brand;
                        }

                        &.transcript { display: block; }
                    }
                }
            }
        }
    }

}

@keyframes left {

    0% { }

    100% {
        position: absolute;
        left: -100%;
    }

}