section.comments {
    max-width: $line-max-copy;
    margin: 0 auto $bl-6 auto;
    padding: $bl-2;

    ol {
        margin: 0;
        padding: 0;
    }

    @import '../3-molecules/list-comment';

}