// Build up the details.article template
&.detail {

    // 1. Add the nav
    @import '../4-organisms/nav';
    // 2. Add the banner
    @import '../4-organisms/header-banner';
    // 3. Add the content section
    @import '../4-organisms/section-content';
    // 4. Add the content footer
    @import '../4-organisms/footer-content';
    // 5. Add the profile cards
    @import '../4-organisms/aside-profile';
    // 6. Add the social links
    @import '../4-organisms/aside-social';
    // 7. Add the related content footer
    @import '../4-organisms/aside-related';
    // 8. Add the comments section
    @import '../4-organisms/section-comment';
    // 9. Add the client / brand footer
    @import '../4-organisms/footer-brand';
    // 10. Add common page elements
    @import '../6-pages/common'; 

}