@import 'global-imports';
@import '../1-base/1.c-base/common-typography';

@import '../4-organisms/nav';
@import '../4-organisms/footer-brand';
@import '../4-organisms/panel-view';

// Resets
* {
    @extend %no-webkit-margin-padding;
}

// Not needed?
html, body {  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    // Padding to make way for nav bar
    padding-top: 80px;
}

// Typography styles
.panel-view {
    .panel {
        h2 {
            @extend %product-title;
        }

        h3 {
            @extend %product-subheading;
        }

        p,
        li {
            @extend %article-body-text;
        }
    }
}

// Footer theming
footer[role="contact"] {
    background-color: $color-background-darkest;

    h2 { @extend %hide; }

    small {color: $color-text-inverse; }
}
