
@import '../5-templates/global-imports';



@import '../4-organisms/list-feature';
@import '../4-organisms/list-filter';
@import '../4-organisms/nav';



p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}