// COLORS

// For product colour swatches

// General-use colors
$white: #fff;
$lightgray: #c1bfc1;
$sub-lightgray: #fafafa;
$midgray: #bdbdbd;
$sub-midgray: #808488;
$darkgray: #333;

// Specific-use colors
$link: #12B4BA;

// Product-specific swatches

$qye-bg-colors: #422F5D, #EB812E, #0E8682, #D62879;