// COLORS

// For product colour swatches

// General-use colors
$white: #fff;
$lightgray: #c1bfc1;
$sub-lightgray: #fafafa;
$midgray: #bdbdbd;
$sub-midgray: #808488;
$darkgray: #333;

// Specific-use colors
$link: #12B4BA;

// Product-specific swatches

$qye-bg-colors: #422F5D, #EB812E, #0E8682, #D62879;

// BRAND
$color-brand: #12B4BA;

// ACTION (links etc)
$color-action: #12B4BA;
$color-action-active: #0E8682; 

// TEXT
$color-text: #333333;
$color-text-light: #9B9B9B;
$color-text-inverse: #FFFFFF;

// BACKGROUNDS
$color-background: #FAFAFA;
$color-background-mid: #E8E8E8;
$color-background-dark: #9B9B9B;
