// COLORS

// For product colour swatches

// General-use Colors
$white: #fff;
$lightgray: #c1bfc1;
$sub-lightgray: #fafafa;
$midgray: #bdbdbd;
$sub-midgray: #808488;
$darkgray: #333;

// Specific-use Colors
$link: #12B4BA;