// SPACING 

// For common units, breakpoints, baseline and such like

// BASELINE
$bl-1: 8px; 
$bl-2: 16px;
$bl-3: 24px;
$bl-4: 32px;
$bl-5: 40px;
$bl-6: 48px;
$bl-7: 56px;
$bl-8: 64px;
$bl-9: 72px;
$bl-10: 80px;

// BREAKPOINTS
$bp-small: 375px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-wide: 1440px;
$bp-ultra-wide: 1920px;
