// TYPOGRAPHY

// For product typographcal styles

@import 'spacing';

// FAMILY
$font-family: "Source Sans Pro", sans-serif;
$font-family-serif: "Source Serif Pro", serif;

// SIZES
$font-label: 1.4rem;
$font-small: 1.6rem;
$font-medium: 2.0rem;
$font-heading: 2.4rem;
$font-large: 3.2rem;
$font-block: 8.0rem;

// WEIGHTS
$font-light: 100;
$font-regular: 300;
$font-bold: 600;
$font-boldest: 900; // Use for the "Black" font variants.

// BASE VALUES
$font-base-value: x-small;
$font-base-set: #{$font-medium}/#{$bl-4} #{$font-family-serif};