// ALIASES 

// For legible selctors, variables & such like

// ATOMS 
$banner: 'header[role="banner"]';
$featured: '[aria-label="featured"]';
// Nav
$mobile-menu-input: '#mobile-menu-toggle';
$mobile-menu-label: "label[for='mobile-menu-toggle']";
$search-toggle-input: '#search-button';
$search-toggle-label: "label[for='search-button']";
