// MIXINS

@import '../1.a-settings/screen-sizes';

// Typographical combos
@mixin font($fontSize, $lineHeight, $fontColor:null) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;
}

// Alternating Background Colors
@mixin alternate-bg-colors($colorList) {
    $colIndex: 1;
    $length: length($colorList);

    @for $i from 1 through $length {
        &:nth-child(#{$length}n+#{$i}) {
            background-color: nth($colorList, $i);
        }
    }
}

// SCREEN SIZES

// Do a block only on small screens
@mixin small-screen {
    @media (max-width: $smallScreenMax) {
        @content;
    }
}

// Do a block only on medium screens
@mixin medium-screen {
    @media (min-width: $mediumScreenMin) and (max-width: $mediumScreenMax) {
        @content;
    }
}

// Do a block only on big screens
@mixin big-screen {
    @media (min-width: $bigScreenMin) {
        @content;
    }
}

@mixin medium-screen-all {
    @media (min-width: $mediumScreenMin) {
        @content;
    }
}