@import '../5-templates/global-imports'; 

.article {
    // Add the layout template for details.articles 
    @import '../5-templates/detail-article';

}

// Now colour it in

.detail.article {

    .site { @extend %hide; }


    a {
        color: $color-action;
            
        &:hover,
        &:focus {
            color: $color-action-active;                
        }
    }

    header { 
    
        h1 { @extend %hide; }
        background-color: $color-background-light;

        &.video {
            background-color: $color-background-darkest;
        }
    }

    section.content { 
        background: $color-background-light; 

        h2 { @extend %hide; }
    }

    li.tag a { 
        background: $color-background;
        border: 1px solid $color-border; 
        box-shadow: 0 0 $bl-1/2 rgba(0,0,0,0.04);

        &:hover,
        &:focus {
            outline: none;
            color: $color-action-active;
            box-shadow: 0 0 $bl-1 rgba(0,0,0,0.16);
        }
    }

    footer.content { h2 { @extend %hide; } }

    aside.profile {

        border-top: 1px solid $color-border;

        h2 { @extend %hide; }

    }

    aside.social {

        @include small-screen {
            background: $color-background-light; 
            border-top: 1px solid $color-border; 
        }
    }
 
    aside.related {

        li {
            background: $color-background-light; 
            border: 1px solid $color-border; 
            box-shadow: 0 0 $bl-1 rgba(0,0,0,0.04);
        }
    }

    section.comments {

        h2 { @extend %hide; }

        ol {
            background: $color-background-light; 
            border: 1px solid $color-border; 
            box-shadow: 0 0 $bl-1 rgba(0,0,0,0.04);
        }

        .material-icons { line-height: 1.6; }
    } 

    footer[role="contact"] {
        
        background: $color-text;

        h2 { @extend %hide; }

        small { color: $color-text-inverse; }

        @include small-screen {
            margin-bottom: $bl-7; 
        }

    } 

} 
