@import '../5-templates/global-imports'; 

.article {
    // Add the layout template for details.articles 
    @import '../5-templates/detail-article';

}

// Now colour it in
.detail.article {

    footer[role="contact"] {
        background: $color-text;

        h2 { @extend %hide; }

        small { color: $color-text-inverse; }
    } 

} 