@import '../5-templates/global-imports';

.home {
    @import '../5-templates/index-home';

}

.home {

    > article { 
        width: 100%;
        height: calc(100% - 80px);

        @include small-screen {
            height: calc(100% - 56px);
        }
    
        h2 { @extend %hide; }
    }

    nav {
        color: white;
        background-color: $darkgray;

        li {
            border-bottom: solid 2px $darkgray;

            &:hover {
                border-bottom: solid 2px $color-action;
            }

            &:first-of-type:hover {
                border-bottom-color: $darkgray;
            }
        }
    }
}

:not(section) ul { 
    padding: 0;
    margin: 0; 
}


@keyframes slide-up {

    0% { transform: translateY(0); }
    
    100% { transform: translateY(-100%); }

}
