@import '../5-templates/global-imports';

.home {
    @import '../5-templates/index-home';

}

.home {

    > article { 
        width: 100%;
        height: calc(100% - 80px);

        @include small-screen {
            height: calc(100% - 56px);
        }
    
        h2 { @extend %hide; }
    }

    nav {
        color: white;
        background-color: $color-background-darkest;

        li {
            font-family: $font-family;
            font-weight: $font-bold;
            
            a {
                span {
                    border-bottom: solid 2px transparent;
                }

                &:hover span {
                    border-bottom: solid 2px $color-action;
                }
            }

            &.active {
                font-weight: $font-boldest;
            }
        }

        // Disable search
        #{$search-toggle-input}, #{$search-toggle-label}, .search-box {
            display: none !important;
        }
    }
}

:not(section) ul { 
    padding: 0;
    margin: 0; 
}


@keyframes slide-up {

    0% { transform: translateY(0); }
    
    100% { transform: translateY(-100%); }

}
