// COMMON-TYPOGRAPHY

// For common typographical styles
// I.e. as listed in the style guide

@import '../1.a-settings/color';
@import '../1.a-settings/typography';
@import '../1.b-tools/mixins';

%sans-black {
    font-family: $font-family;
    font-weight: $font-boldest;
}

%detail-nav-title {
    @extend %sans-black;

    @include font(24px, 32px);

    padding: 10px 0px;
    border-bottom: solid 2px $link;

    @include small-screen {
        font-family: $font-family;
        font-weight: $font-regular;

        @include font(12px, 16px);

        padding: 6px 0px;
        border-bottom-width: 1px;
    }
}

%product-title {
    @extend %sans-black;

    @include font(44px, 48px);

    @include small-screen {
        @include font(24px, 32px);
    }

    // @include big-screen {
    //     @include font(88px, 96px);
    // }
}

%product-subheading {
    @extend %sans-black;

    @include font(32px, 40px);

    @include small-screen {
        @include font(16px, 24px);
    }

    // @include big-screen {
    //     @include font(64px, 80px);
    // }
}

%card-headline {
    @extend %sans-black;

    @include font(32px, 40px);
}

%headline-feature, %nav-feature {
    @extend %sans-black;

    @include font(24px, 32px);
}

%nav-item {
    font-family: $font-family;
    font-weight: $font-bold;

    @include font(16px, 24px);
}

%article-subheading {
    font-family: $font-family-serif;
    font-weight: $font-regular;

    @include font(24px, 30px);

    @include small-screen {
        @include font(20px, 30px);
    }
}

%article-body-text {
    font-family: $font-family-serif;
    font-weight: $font-regular;

    @include font(20px, 30px);

    @include small-screen {
        @include font(16px, 24px);
    }

    // @include big-screen {
    //     @include font(40px, 60px);
    // }
}

%card-body-text {
    font-family: $font-family-serif;
    font-weight: $font-regular;

    @include font(16px, 24px);
}

%button-text {
    font-family: $font-family;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: $link;

    @include font(16px, 24px);

    &:hover {
        // Placeholder value, to be updated later
        color: lighten($link, 20%);
    }
}