// BASE

/* BASE */

html {
    font-size: $font-base-value;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: $font-base-set;
    font-weight: $font-regular;
    color: $color-text;
    background: $color-background;
}

h3 {
    @include font($font-large, 40px, $fontColor:null);
}

a {
    transition: all 0.25s ease-in-out;
}